$title_width: 405px;
$link_width : 100px;
$link_count : 5;
$link_margin:  0px;
$link_font_size : small;
.top-bar{
  .navigation-bar{
    position: relative;
    @extend .top-bar-transition;
    .navigation{
      @extend .undo-list;
      @extend .resize-container;
      margin     : auto !important;
      width      : $link_count * ($link_width + $link_margin + 2px);
      overflow   : hidden;
      > li {
        float      : left;
        font-size  : $link_font_size;
        width      : $link_width;
        margin-left: $link_margin;
        border : 1px solid transparent;
        @include transition(all $transition_time $transition);
        > a{
          @extend .undo-link;
          @include transition(transform $transition_time $transition);
          display: block;
        }
      }
      >li:hover{
        border: 1px solid $highlight_color;
        > a{
          color: $highlight_color;
        }
      }
    }
  }
}