ul.undo-list
  li.link.home
    a Home
  li.link.furniture
    a furniture
  li.link.lighting
    a lighting
  li.link.decor
    a decor
  li.link.blog
    a blog
  li.link.collections
    a My collections
.indicator