ul.deck{
  @extend .undo-list;
  display: block;
  > li {
    display: inline-block;
    margin : $padding;
    .card{
      padding: $padding;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .name{
        padding-top: $padding;
      }
      .caption{
        font-size: small;
        font-style: italic;
        line-height: $line_height - $padding;
        opacity: 0.5;
      }
      .icon{
        display: block;
        margin: auto;
        @extend .thumbnail;
      }
    }
  }
}