$solid_bg : rgba(0, 0, 0, 0.2);
$solid_hard_bg : rgba(0, 0, 0, 0.3);
$button_bg : rgba(0, 0, 0, 0.5);
$highlight_color: #03A9F4;
$input_color: #51A7F9;
$placeholder_color: rgba(81, 167, 249, 0.51);
$theme_color: #8c8f8f;
$black_border  : rgba(0, 0, 0, 0);
$black_border : rgba(0, 0, 0, 0);
$heavy-border: 1px solid rgba(0, 0, 0, 0);
$pure_solid_bg: black;

$bg_shade : black;
$bg_shade_second : #282828;
.carbon-fiber {
  background: radial-gradient($bg_shade 15%, transparent 16%) 0 0,
              radial-gradient($bg_shade 15%, transparent 16%) 8px 8px,
              radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
              radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: $bg_shade_second;
  background-size: 16px 16px;
}

.theme-body-bg{
  @extend .carbon-fiber;

}

.solid-hard-surface{
  background-color: $solid_hard_bg;
  border-radius: $border_radius;
}

.solid-surface{
  background-color: $solid_bg;
  border-radius: $border_radius;
}

.button-surface{
  color: inherit;
  border: 1px solid transparent;
  background-color: $button_bg;
  border-radius: $border_radius;
}

.input-surface{
  background-color: $solid_bg;
  color: inherit;
}

.button-surface:hover{
  color:$highlight_color;
}