$solid_bg : white;
$solid_hard_bg : white;
$button_bg : #EEE;
$hard_bg : #EEE;
$highlight_color: #51A7F9;
$input_color: #51A7F9;
$placeholder_color: rgba(81, 167, 249, 0.51);
$theme_color: #636365;
$theme_head_color: rgba(0, 0, 0, 0.6);


$black_border : rgba(0, 0, 0, 0.2);
$heavy-border: 1px solid rgba(0, 0, 0, 0.2);
$pure_solid_bg: $hard_bg;

$bg_shade : white;
$bg_shade_light : rgba(255, 255, 255, 0.1);
$bg_shade_second : #EEE;

$bar_color: $bg_shade_second;
$elevated_shadow : 0px 1px 2px rgba(0, 0, 0, 0.28);
$box_shadow : 1px 1px 2px rgba(0, 0, 0, 0.28);

$shadow: $elevated_shadow;
.texture {
  background-color: white;
  //background-image: url("public/texture/fabric-light.png");
}
.theme-body-bg{
  @extend .texture;
}

.surface{
  border: 1px solid $black_border;
  border-radius: $border_radius;
}

.elevated-surface{
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: $box_shadow;
}

.heading-font{
  color: $theme_head_color;
}

.solid-hard-surface{
  @extend .surface;
  @extend .elevated-surface;
  background: $solid_hard_bg;
}

.solid-surface{
  @extend .surface;
  background-color: $solid_bg;
}

.button-surface{
  @extend .surface;
  @extend .elevated-surface;
  color: inherit;
  border: 1px solid transparent;
  background-color: $button_bg;
  box-shadow: $box_shadow;
}

.input-surface{
  background-color: $solid_bg;
  color: inherit;
}

.button-surface:hover{
  color:$highlight_color;
}