$frame_button_width: 60px;
$frame_button_count : 6;
$frame_actions_width: $frame_button_count*$frame_button_width;
.modal{
  .content{
    position: relative;
    margin: $padding;
    padding: 0px;
    @include transition(#{transform $contentTransitionDuration ease, opacity $contentTransitionDuration ease});
    width: calc(100% - #{$cardWidth + 2 * $containerPadding + 2 * $padding});
    border: 2px solid $highlight_color;
    box-shadow: $box_shadow;
    background-color: $solid_hard_bg;
    border-radius: $border_radius;
    .frame-bar{
      position: relative;
      z-index: 1;
      pointer-events: all;
      color: $highlight_color;
      border-bottom: 2px solid $highlight_color;
      line-height: $frame_bar_height;
      background: $pure_solid_bg;
      @extend .resize-container;
      .title{
        float: left;
        overflow: hidden;
        padding-left: $padding;
        width: calc(100% - #{$frame_actions_width});
        font-size: small;
      }

      ul.actions{
        @extend .undo-list;
        @extend .resize-container;
        float: right;

        > li{
          float: right;
          > a{
            opacity: 0.5;
            display: block;
            line-height: inherit;
            padding: 0px $padding*2;
            text-decoration: none;
            color: inherit;
            width: $frame_button_width;
          }
          > a:hover{
            opacity: 1;
          }
        }
      }

    }

    .loader, .frame{
      height: calc(100% - #{$frame_bar_height});
      width: 100%;
      border: $heavy-border;
      @include transition(#{opacity $contentTransitionDuration ease});
    }
    .frame{
      overflow: auto;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid $black_border;
      pointer-events: all;
      opacity: 0;
    }
    .loader{
      position: absolute;
      top: $frame_bar_height;
      left: 0;
      z-index: 1;
      color: $highlight_color;
      text-shadow: $text_shadow;
      border: 1px solid $black_border;
      line-height : $loader_size;
      font-size   : $loader_size;
      text-align  : center;
      padding-top : $loader_size/2;
    }
  }

}

.modal {
  .content.ready {
    .frame{
      opacity: 1;
    }
    .loader{
      opacity: 0;
      pointer-events: none;
    }
  }
}
.modal {
  .content.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: calc(100vh - #{2*$padding});
    width: calc(100vw - #{2*$padding});
    margin: $padding;
  }
}.modal {
  .content.mobile-screen {
    .frame{
      display: block;
      width  : 412px;
      height : 732px;
      margin : auto;
    }
  }
}