.image-card(ng-if='card.type == "image"')
  img(ng-src='{{card.image}}')

.ui-tutorial(ng-if='card.type == "ui"')
  h2.name(ng-bind='card.name')
  p.description
    span.lead(ng-bind='card.description.lead')
    span.follow(ng-bind='card.description.follow')
