.idea
*-compiled.js
*-compiled.js.map
*.css.map
*/**/node_modules/
*/**/bower_components/
/public/lab/star-wars/reports/
/public/lab/star-wars/app/app.html
/src/portfolio/bower_components/
/src/portfolio/node_modules/
/src/portfolio/dist/
/src/portfolio/src/index.css
/src/portfolio/src/index.html
/src/portfolio/src/index.css.map
