.idea
*-compiled.js
*-compiled.js.map
/public/lab/star-wars/style/index.css.map
/public/lab/star-wars/app/app-compiled.js
/public/lab/star-wars/app/app-compiled.js.map
/public/lab/star-wars/node_modules/
/public/lab/star-wars/reports/
/public/lab/star-wars/app/app.html
