$status_width: 50px;

ul.tags{
  @extend .undo-list;
  > li {
    display: inline-block;
    padding: 0px $padding;
    @extend .resize-container;

    > .tag, > .status{
      float: right;
      padding: 0px;
      @extend .button-surface;
    }
    .tag{
      padding-right: $padding_big;
      margin-right: 1px ;
      text-transform: capitalize;
    }
    > .status{
      width: $status_width;
      color: rgba(255, 255, 255, 0.1);
    }
  }

  > li.selected{
    .status{
      color: $highlight_color;
    }
  }
}