$github_color: rgba(0, 0, 0, 0.65);
$linked_color: #1a84bc;
$stack_overflow_color: #f48024;
$twitter: #1da1f2;
$mail_color: #1a84bc;
$icon_height: 40px;


@mixin hover_link( $color) {
  color: $color;
}

@mixin social_link( $color) {
  color: $color;
}

ul.social.contact{
  @extend .undo-list;
  @extend .resize-container;

  > li {
    padding: $padding;
    float: left;
    @extend .fades-and-moves;

    > a {
      @extend .undo-link;
      height: $icon_height;
      line-height: $icon_height;
      width : $icon_height;
      text-align: center;
      font-size: small;
      border-radius: 50%;
      @extend .solid-hard-surface;
      border: none;
      background-color: $button_bg;
      @include transition(all $transition_time $transition);
    }
  }
  > li:hover {
    a{
      @include transform(scale(($icon_height + 2 * $padding)/$icon_height));
      color: $highlight_color;
    }
  }

  .mailto:hover{
    @include  hover_link($mail_color);
  }
  .twitter:hover{
    @include  hover_link($twitter);
  }
  .stack-overflow:hover{
    @include  hover_link($stack_overflow_color);
  }

  .linkedin:hover{
    @include  hover_link($linked_color);
  }

  .github:hover{
    @include hover_link(inherit);
  }

}