$load_progress_height: 3px;
$load_progress_bg    : #F5D328;

#nishants{
  .load-progress{
    position: fixed;
    bottom     : 0;
    left    : 0;
    opacity: 0;
    @include transition(opacity $transition_time $transition);

    .progress{
      width     : 100vw;
      height    : $load_progress_height;
      background: $load_progress_bg;
      @include transition(transform $transition_time $transition);
      @include transform(scaleX(1));
    }
  }
}

$width_initial: 0;
$width_one    : 0.7;
$width_two    : 1;

#nishants:not(.no-splash){
  .load-progress{
    opacity: 1;
    .progress{
      animation-name: loader-progress;
      animation-duration: $loading_time;
      @include transformOrigin(0 0);

    }
  }
}

@keyframes loader-progress {
  0% {
    @include transform(scaleX($width_initial));
  }
  50% {
    @include transform(scaleX($width_one));
  }
  100% {
    @include transform(scaleX($width_two));
  }
}
