$loading_time : 5s;

#nishants:not(.no-splash){
  .splash{
    @include transform(translateY(100vh));
    .image,{
      animation-name: loading;
      animation-duration: $loading_time;
    }
    .caption{
      //animation-name: fade-in;
      //animation-duration: $loading_time;
      opacity: 0;
    }
  }
  .main-content{
    @include transform(translateY(100vh));
  }
}

$grayscale_initial: 100%;
$grayscale_one: 50%;
$grayscale_two: 0%;

$blur_initial: 5px;
$blur_one: 2px;
$blur_two: 0px;

$opacity_initial: 0;
$opacity_one: 0.1;
$opacity_two: 0.5;

@keyframes loading {
  0% {
    -webkit-filter: grayscale($grayscale_initial) blur($blur_initial);
    filter: grayscale($grayscale_initial) blur($blur_initial);
  }
  50% {
    -webkit-filter: grayscale($grayscale_one) blur($blur_one);
    filter: grayscale($grayscale_one) blur($blur_one);
  }
  100% {
    -webkit-filter: grayscale($grayscale_two) blur($blur_two);
    filter: grayscale($grayscale_two) blur($blur_two);
  }
}

@keyframes fade-in {
  0% {
    opacity: $opacity_initial;
  }
  50% {
    opacity: $opacity_one;
  }
  100% {
    opacity: $opacity_two;
  }
}
