$card_width : 140px;
$card_height: 140px;
$mobile_font_size: 13px;

#mission-vehicle{
  ul.deck{
    margin: auto;
    width: $card_width*2 + 4 *$padding;

    > li {
      float : left;
      margin: $padding/2;
      width : $card_width;
      overflow: hidden;
      font-size: $mobile_font_size;
    }
  }
}