$vehicle_height: 140px;
#mission-vehicle{
  ul.deck{
    > li.none, > li.no-range {
      position: relative;
      pointer-events: none;
      border: 1px solid $theme_green_disabled !important;
    }
    > li:after{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      line-height: $vehicle_height;
      width: 100%;
      color: $white;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      content: " ";
      @include transition(opacity $transition_time_slow $transition_function);
    }
    >li.no-range:after{
      content: "Out Of Range";
      opacity: 1;
    }
    > li.none:after{
      content: "None Left";
      opacity: 1;
    }
  }
}