.content.title-text
  .lost.message
    h1 You Loose !
    h3 Falcone was not found on any of the selected planet.
  .won.message
    h1 You Won !
    h3 Falcone was found by {{result.outcome.vehicle_name}} on {{result.outcome.planet_name}}.

  .restart
    button(ng-click="playAgain()") Play Again