li(ng-repeat="card in deck._list", ng-class="{'selected' : deck._current == $index, 'selected-head' : deck._current < $index - 1, 'selected-tail' : deck._current > $index + 1, 'selected-pre' : deck._current == $index - 1,'selected-post' : deck._current == $index + 1}")
  a.card(ng-click="deck.select($index)")
    include ../cards/card
