article#nishants-site
  .top-bar
    .heading
      .image
        img(src='images/profile.jpg')
      .name
        span Nishant Singh
      .title
        ul.designation
          li Designer
          li Craftsman
          li Consultant
      .contact.social.hidden-sm-down
        a.link.twitter.btn.btn-outline-primary.fa.fa-twitter(href='https://twitter.com/nshnt_sng', target='_blank')
        a.link.linkedin.btn.btn-outline-primary.fa.fa-linkedin(href='https://www.linkedin.com/in/nishant-singh-b2420946', target='_blank')
        a.link.mailto.btn.btn-outline-primary.fa.fa-envelope(href='mailto:nishant.singh87@gmail.com', target='_top')
        a.link.stack-overflow.btn.btn-outline-primary.fa.fa-stack-overflow(href='http://stackoverflow.com/users/1065020/dawn', target='_blank')
        a.link.github.btn.btn-outline-primary.fa.fa-github(href='https://github.com/nishants', target='_blank')
  .cover
    .bg-wrapper
      img.bg(src='images/cover.jpg')
    .gradience
  .cover-padding
  .overview.invert-gradience
    .profile-image
      img(src='images/profile.jpg')
  .introduction.page
    .name
      span Nishant Singh
    .title
      ul.designation
        li Designer
        li Craftsman
        li Consultant
    .contact.social
      a.link.twitter.fa.fa-twitter(href='https://twitter.com/nshnt_sng', target='_blank')
      a.link.linkedin.fa.fa-linkedin(href='https://www.linkedin.com/in/nishant-singh-b2420946', target='_blank')
      a.link.github.fa.fa-github(href='https://github.com/nishants', target='_blank')
      a.link.stack-overflow.fa.fa-stack-overflow(href='http://stackoverflow.com/users/1065020/dawn', target='_blank')
      a.link.mailto.fa.fa-envelope(href='mailto:nishant.singh87@gmail.com', target='_top')
    .about-me
      p.text
        | I am an independent consultant.
        br
        |                 I work to create better softwares and a better the experience of building softwares.
        br
        |                 I love ideating, prototyping, programming, mentoring and consulting.
        br
  .consulting.page
    h1.head
      | Consulting Experience
    ul.clients.work-history
      li
        .logo
          img(src='images/logos/mphasis.jpg')
        .detail
          label.title
            | Mphasis Bangalore
          label.company
            | Coaching and consulting for introducing Acceptance Test Driven Development for a specific account.
          label.period
            | May 2016 -
      li
        .logo
          img(src='images/logos/tookitaki.png')
        .detail
          label.title
            | TookiTaki
          label.company
            | UX/UI improvement for online ad management platform.
          label.period
            | July 2015 - Dec 2015
      li
        .logo
          img(src='images/logos/sg.png')
        .detail
          label.title
            | Societe Generale Bangalore
          label
            | Coaching teams on programming practices, like test driven development, refactoring, testing strategy..
          label.period
            | Nov 2014 - June 2015
      li
        .logo
          img(src='images/logos/caterpillar.jpeg')
        .detail
          label.title
            | Caterpillar
          label
            | Single-platform to manage parts sales commercials, across their global distribution network of dealers.
          label.period
            | Sep 2012 - Oct 2014
      li
        .logo
          img(src='images/logos/hcah.jpg')
        .detail
          label.title
            | Health Care At Home
          label
            | Mobile webapp for a Delhi based health startup. App helped nurses to collect data and generate reports on patients.
          label.period
            | April 2012 - Sep 2012
      li
        .logo
          img(src='images/logos/unicef.jpeg')
        .detail
          label.title
            | UNICEF Uganda
          label
            | System Integration(MTrack with DHIS2), and consolidating data on health care providers throughout the country.
          label.period
            | Dec 2012 - April 2012
  .experience.page
    h1.head
      | Employment History
    ul.employment.work-history
      li
        .detail
          label.title
            | Independent Consultant
          label.period
            | Since June 2015
      li
        .logo
          img(src='images/logos/xebia.png')
        .detail
          label.title
            | Technical Coach
          label.company
            | Xebia
          label.period
            | Oct 2014 - June 2015
      li
        .logo
          img(src='images/logos/tw.png')
        .detail
          label.title
            | Technical Consultant
          label.company
            | ThoughtWorks
          label.period
            | Nov 2012 - Oct 2014
      li
        .logo
          img(src='images/logos/oracle.png')
        .detail
          label.title
            | Software Developer
          label.company
            | Oracle
          label.period
            | June 2012 - Nov 2012
      li
        .logo
          img(src='images/logos/infosys.png')
        .detail
          label.title
            | System Engineer
          label.company
            | Infosys
          label.period
            | Aug 2010 - May 2012
  .innovations.page
    h1.head
      | Pet projects
    ul.work-history
      li
        .logo
          img(src='images/logos/ruby-logo.png')
        .detail
          label.title.link
            a(href='http://amoeba.social/practice-labs/ruby-for-qa/', target='_blank') RubyLab
          label
            | Test Driven Development Worksheets for ruby
      li
        .logo
          img(src='images/logos/ruby-logo.png')
        .detail
          label.title.link
            a(href='https://github.com/nishants/watir-quickstart/blob/master/docs/coachbook.pdf', target='_blank') Watir Quick Start
          label
            | A quick start guide and project setup for writting acceptance tests with ruby.
      li
        .logo
          img(src='images/logos/ruby-logo.png')
        .detail
          label.title.link
            a(href='http://amoeba.social/lab/look-like/#/Cucumber', target='_blank') Look Like
          label
            | Ruby gem for matching visual patterns. Useful for writing tests when data can't be predicted accurately, e.g. tests for staging/dark servers.
      li
        .logo
          img(src='images/logos/nodejs-npm.png')
        .detail
          label.title.link
            a(href='https://github.com/nishants/jeyson', target='_blank') Jeyson
          label
            | JSON Template engine.
      li
        .logo
          img(src='images/logos/java-logo.jpg')
        .detail
          label.title.link
            a(href='https://github.com/nishants/wirestub', target='_blank') Wirestub
          label
            | A wrapper over wiremock , to make it work like a stub by adding scripting and templating ability.
      li
        .logo
          img(src='images/logos/nodejs-npm.png')
        .detail
          label.title.link
            a(href='https://github.com/nishants/collect-require.js', target='_blank') Collect Require
          label
            | A node module for converting a require-js based project into single js file, while preserving readability .
      li
        .logo
          img(src='images/logos/html5-css3.png')
        .detail
          label.title.link
            a(href='http://amoeba.social/dump/concepts/kitkat/#/', target='_blank') Android Kitkat
          label
            | An implementation of andoid kitkat UI using HTML5, CSS3 and Jquery [Mobile Only].
      li
        .logo
          img(src='images/logos/java-logo.jpg')
        .detail
          label.title.link
            a(href='https://github.com/nishants/extab', target='_blank') Extab
          label
            | A wrapper over Apache POI for mapping tables in excel files to java objects in Hibernate like annotation deriven style.
      li
        .logo
          img(src='images/logos/java-logo.jpg')
        .detail
          label.title.link
            a(href='https://github.com/nishants/chakra', target='_blank') Chakra
          label
            | Runs java inside browser.
      li
        .logo
          img(src='images/logos/java-logo.jpg')
        .detail
          label.title.link
            a(href='https://github.com/nishants/jrec', target='_blank') Spring VCR
          label
            | Plugin that provides a VCR.py like record and play http requests for spring (3.1+). Useful for testing micro-services.
  .footer.page
    .small-light-text
      span Designed and Developed by
      span  Nishant Singh
    