$mobile_at      : 750px;
$padding        : 10px;
$modal_bg_color : rgba(0, 0, 0, 0.75);
$line_height    : 25px;
$modal_layer    : 1;
$window_width   : 500px;
$wizard_width   : $window_width;
$station_color  : #316487;

$bottom_bar_color: $station_color;
$bar_height     : 60px;

$background_image: url(../images/twinkle.gif);

$progress_height: 2px;
$progress_width : $window_width;
$progress_bg    : #A4CDFF;
$progress_fg    : #3083FB;

$game_progess_levels: 4;

body{
  padding: 10px;
  background: black;
}

.modal-window{
  position: fixed;
  z-index : $modal_layer;
  top     : 0px;
  left    : 0px;
  height  : 100vh;
  width   : 100vw;
  background: $modal_bg_color;
  line-height: 100vh;
  text-align: center;
  .content{
    display   : inline-block;
    line-height: $line_height;
    background: white;
    padding : $padding*5;
  }
}

.modal-window:not(.show){
  opacity: 0;
  pointer-events: none;
  * { pointer-events: none !important;  }
}

#background{
  .space-station{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
  }
}
#main-content{
  position: relative;
}

@import "intro/intro";
@import "home/home";
@import "home/missions";
@import "mission-wizard/mission-wizard";

@media screen and (max-width: $mobile_at) {
  @import "home/home.mobile";
}