#app(ng-app='galaxy')
  #background.star-world
  #main-content
    #intro.modal-window
      .content
        include intro/intro
    #home
      #top-bar
        include top-bar/top-bar
      #bottom-bar
        include bottom-bar/bottom-bar