#app(ng-app='galaxy')
  #background.star-world
    img.space-station(src='images/space-center.png')
  #main-content
    #intro.modal-window
      .content
        include intro/intro
    #home
      #mission-action
        button.create-mission Add 1 more Mission
      .game-progress.two
      #missions-selected
        include home/missions
    #mission-wizard.modal-window.show
      include mission-wizard/mission-wizard
