#app(ng-app='galaxy')
  #background.star-world
    img.space-station(src='images/space-center.png')
  #main-content
    #intro.modal-window
      .content
        include intro/intro
    #home
      #bottom-bar
        include bottom-bar/bottom-bar
    #mission-wizard.modal-window
      include mission-wizard/mission-wizard
