#app(ng-app='galaxy')
  #background
    .star-world.traveler-sky
    img.space-station(src='images/space-center.png')
  #main-content
    #intro.modal-window(ng-class='{"show" : !ui.skipIntro}')
      .content
        include help/intro
    #home(ng-controller='missionsController')
      #help-button
        span.fa.fa-question-circle(ng-click='ui.skipIntro = false')
      #mission-action
        button.create-mission(ng-click='createMission()', ng-bind='help.message(missions)')
      .game-progress(class="{{progress.state}}")
      #missions-selected
        include missions/missions
    #mission-wizard.modal-window(ng-controller='wizardController', ng-class='{"show" : wizard.showWizard}')
      include mission-wizard/mission-wizard
