$mobile_at      : 750px;
$padding        : 10px;
$modal_bg_color : rgba(0, 0, 0, 0.75);
$line_height    : 25px;
$modal_layer    : 1;
$window_width   : 500px;
$wizard_width   : $window_width;
$station_color  : #316487;

$bottom_bar_color: $station_color;
$bar_height     : 60px;

$background_image: url(../images/twinkle.gif);

$theme_green_color  : #3dc743;
$theme_green_border : #DFFF81;
$theme_green_text   : #00FF80;

$progress_height: 6px;
$progress_width : $window_width;
$progress_bg    : rgba(255, 255, 255, 0.5);
$progress_fg    : $theme_green_color;

$game_progess_levels: 4;
$thumbnail_height: 50px;
$thumbnail_width: 50px;

body{
  padding: 10px;
  background: black;
}

.modal-window{
  position: fixed;
  z-index : $modal_layer;
  top     : 0px;
  left    : 0px;
  height  : 100vh;
  width   : 100vw;
  background: $modal_bg_color;
  line-height: 100vh;
  text-align: center;
  .content{
    display   : inline-block;
    line-height: $line_height;
    background: white;
    padding : $padding*2;
    margin: $padding*5;
  }
}

.modal-window:not(.show){
  opacity: 0;
  pointer-events: none;
  * { pointer-events: none !important;  }
}

.thumbnail{
  height: $thumbnail_height;
  width: $thumbnail_width;
}

ul.deck{
  @extend .undo-list;
  display: block;
  > li {
    display: inline-block;
    margin : $padding;
    .card{
      padding: $padding;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .name{
        padding-top: $padding;
      }
      .caption{
        font-size: small;
        font-style: italic;
        color: rgba(0, 0, 0, 0.25);
        line-height: $line_height - $padding;
      }
      .icon{
        display: block;
        margin: auto;
        @extend .thumbnail;
      }
    }
  }
}

#background{
  .space-station{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
  }
}
#main-content{
  position: relative;
}

@import "intro/intro";
@import "home/home";
@import "missions/missions";
@import "missions/progress";
@import "mission-wizard/mission-wizard";
@import "planets/planets";
@import "vehicles/vehicles";

@media screen and (max-width: $mobile_at) {
  @import "home/home.mobile";
}
$sky_rotation_speed : 700s;
@keyframes travelerSky {
  0% {
    @include transform(scale(1.5) rotate(0deg));
  }
  50% {
    @include transform(scale(2) rotate(-360deg));
  }
  100% {
    @include transform(scale(1.5) rotate(0deg));
  }
}

.traveler-sky{
  animation: travelerSky $sky_rotation_speed infinite;
  animation-timing-function: linear;
}
