#app(ng-app='galaxy', ng-controller='uiController')
  #background.star-world
    img.space-station(src='images/space-center.png')
  #main-content
    #intro.modal-window(ng-class='{"show" : !ui.skipIntro}')
      .content
        include intro/intro
    #home(ng-controller='missionsController')
      #mission-action
        button.create-mission(ng-click='ui.createMission()', ng-bind='help()')
      .game-progress.two
      #missions-selected
        include missions/missions
    #mission-wizard.modal-window(ng-class='{"show" : ui.showMissionsWizard}')
      include mission-wizard/mission-wizard
