.top-bar
  .heading
    .image
      img(src='public/images/profile.jpg')
    .name
      span Nishant Singh
    .title
      ul.designation
        li Design
        li Development
        li Coaching
        li Experience
        li Connect