.top-bar
  .background
  .heading
    .image
      img(src='public/images/profile.jpg')
    .name
      span Nishant Singh
    .title
      ul.navigation
        li.design
          a(href="#design") Design
        li.development
          a(href="#development") Development
        li.coaching
          a(href="#coaching") Coaching
        li.experience
          a(href="#experience") Experience
        li.connect
          a(href="#connect") Connect
