.top-bar
  .background
  .heading
    a.link(href="#home")
      .image
        img(src='public/images/profile.jpg')
      .name
        span Nishant Singh
    .title
      ul.navigation
        li.design
          a(href="#portolio?tags=design") Design
        li.development
          a(href="#portolio?tags=development") Development
        li.coaching
          a(href="#portolio?tags=coaching") Coaching
        li.experience
          a(href="#experience") Experience
        li.connect
          a(href="#connect") Connect
