$border_radius : 2px;

$row_height: 35px;
$small_image_size: $row_height;
$topBarHeight: $top_bar_height;
$top_bar_index : $top_bar_layer;
$medium_bold_text : 500;
$shadow_offset: $top_bar_shadow_offset;

.top-bar-transition{
  @include transition(all $transition_time $transition);
}
.small-bold-text{
  font-size: small;
  font-weight: $medium_bold_text;
}
.top-bar{
  position: fixed;
  z-index: $top_bar_index;
  top: 0;
  width: 100vw;
  height: $topBarHeight;
  overflow: hidden;
  @extend .top-bar-transition;
  @extend .top-bar-font;

  .background{
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - #{$shadow_offset});
    width: 100%;
    background: white;
    box-shadow: 0 0 5px 1px rgba(1, 1, 1, 0.3);
    @include transition(all $transition_time $transition);
  }

  .heading{
    position: relative;
    a.link{
      @extend .undo-link;
    }
  }
}


#nishants-site:not(.show-top-bar) {
  .top-bar {
    pointer-events: none;
    opacity: 0;
    @include transform(translateY(-100%));
    .image{
      > img{
        opacity: 0;
      }
    }
  }
}

#nishants-site:not(.show-top-bar-name) {
  .top-bar {
    .name{
      opacity: 0;
      @include transform(translateY($topBarHeight));
    }
  }
}



#nishants-site {
  .overview {
    @extend .top-bar-transition;
    .profile-image {
      img{
        @extend .top-bar-transition;
      }
    }
  }
}

#nishants-site.show-top-bar {
  .cover{
    .bg-wrapper{
      img.bg{
        opacity: 0;
      }
    }
  }
  .overview {
    .profile-image > img{
      opacity: 0;
      @include transform(translateY(-100%));
    }
  }
}

@import 'profile-bar/profile-bar';
@import 'navigation/navigation';
@import 'top_bar.transitions';