p {
  margin-bottom: 1em; }

.heading {
  margin-bottom: 0.618em; }
  .heading.-large, h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px; }
  .heading.-medium, h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px; }
  .heading.-small, h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 13.33333px; }
  .heading.-smallest {
    font-size: 10px;
    font-weight: bold; }

body {
  margin: 0px;
  padding: 0px; }

body * {
  box-sizing: border-box; }

label {
  cursor: inherit; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

.resize-container:after, ul.inline-list:after, ul.period-list > li ul.projects:after, .search.bar .search-widget:after {
  content: "";
  display: table;
  clear: both; }

ul.undo-list, ul.inline-list, .timeline ul.period-list, ul.period-list > li ul.projects {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

ul.inline-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block; }
  ul.inline-list > li {
    float: left; }

body {
  height: 90vh;
  overflow: hidden; }
  body * {
    box-sizing: border-box; }

.timeline {
  margin: auto;
  height: 100%;
  position: relative; }
  .timeline .timeline-header {
    height: 80px;
    box-shadow: 10px 1px 5px rgba(0, 0, 0, 0.1); }
  .timeline .timeline-body {
    height: calc(100% - 80px);
    overflow: auto; }
  .timeline .card {
    padding: 10px; }
  .timeline ul.period-list {
    padding-top: 10px; }
    .timeline ul.period-list > li .position, .timeline ul.period-list > li .projects {
      display: block; }
    .timeline ul.period-list > li .period {
      position: absolute;
      top: 50px;
      left: calc(50% - 1px);
      width: 1px;
      height: calc(100% - 50px); }
    .timeline ul.period-list > li:nth-child(3n) .period {
      background: green; }
    .timeline ul.period-list > li:nth-child(3n+2) .period {
      background: blue; }
    .timeline ul.period-list > li:nth-child(3n+1) .period {
      background: red; }

ul.period-list > li {
  position: relative; }
  ul.period-list > li .position {
    padding-left: 10px;
    padding-bottom: 10px; }
    ul.period-list > li .position > .card {
      width: calc(50% - 20px);
      background: red; }

ul.period-list > li ul.projects > li {
  width: 50%;
  float: right;
  clear: right;
  padding-bottom: 10px; }
  ul.period-list > li ul.projects > li > .card {
    width: calc(100% - 20px);
    margin: auto;
    background: green; }

.timeline .timeline-header .labels.bar {
  width: 100%; }
  .timeline .timeline-header .labels.bar .position, .timeline .timeline-header .labels.bar .project {
    width: 50%;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center; }

.search.bar {
  height: 40px;
  overflow: hidden;
  padding: 5px; }
  .search.bar .search-widget {
    max-width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto; }
    .search.bar .search-widget .icon, .search.bar .search-widget input.query {
      float: left;
      height: 33px; }
    .search.bar .search-widget .icon {
      width: 50px;
      height: 33px;
      line-height: 33px;
      color: rgba(0, 0, 0, 0.1);
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .search.bar .search-widget input.query {
      width: calc(100% - 50px);
      padding-left: 10px;
      outline: none; }
      .search.bar .search-widget input.query::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.1); }
      .search.bar .search-widget input.query:-moz-input-placeholder {
        color: rgba(0, 0, 0, 0.1); }
      .search.bar .search-widget input.query::-moz-input-placeholder {
        color: rgba(0, 0, 0, 0.1); }
      .search.bar .search-widget input.query:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=index.css.map */
