$nav_color: rgba(255, 255, 255, 1);
$nav_height: $navigationBarHeight;

#nav {
  overflow: visible;
  height: $nav_height;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  @include transition(all $transition_duration $transition_function) ;
}

#slate.show-modal{
  #nav{
    @include transform(translateY(-$navigationBarHeight));

  }
}