$nav_color: white;
$nav_height: $navigationBarHeight;

#nav {
  #top-bar {
    height: $nav_height;
    background-color: $nav_color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    @include transition(all $transition_duration $transition_function) ;
  }
}

#slate.show-modal{
  #nav{
    #top-bar{
      @include transform(translateY(-100%));
    }
  }
}