#top-fixed-bar
  .app.bar
    ul.undo-list
      li.logo
        a
          include logo-svg
      li.search
        span.fa.fa-search
        input(type='search', placeholder='search')
      li.icons
        ul.undo-list
          li.messages
            span.fa.fa-comments
            label 5
          li.account
            span.fa.fa-user
            label user
  .navigation.bar
    ul.undo-list
      li.link.home
        a Home
      li.link.furniture
        a furniture
      li.link.lighting
        a lighting
      li.link.decor
        a decor
      li.link.blog
        a blog
      li.link.collections
        a My collections
    .indicator