.about-me
  p I love programming, prototyping, ui design, coaching and mentoring.
  p I have a diverse experience in development, quality assurance and requirement analysis and coaching.
  p I have worked with backends and micro-services in Java(Swing), Ruby(Sinatra/Rails) and single page applications with AngularJS, SCSS and JQuery
  p I have a good understanding of SCRUM, iterative development, continuous integration, test automation, sprint and release planning.
  p I am crazy about design and user experience and I can design beautiful web interactions, that can run at 60 frames per second across browsers.