
.timeline{
  .timeline-header{
    .labels.bar{
      width: 100%;
      border-bottom  : $border;
      @extend .resize-container;
      .position,  .project{
        float       : left;
        height      : $labels_height;
        line-height : $labels_height;
        width       : 50%;
        text-align  : center;
        background  : $solid_bg;
        border-radius: $border_radius;
      }

      //1 px for border
      .position{
        width       : calc(50% - 1px);
        margin-right: 1px;
      }
    }
  }
}
