$logo_effective_width : $logo_width + 3 *$padding;
$logo_effective_height: $logo_width + 4 *$padding;
.compact-card{
  @extend .resize-container;
  cursor: initial;
  position: relative;
  padding : 2*$padding;
  min-height: $logo_effective_height;

  .logo{
    position: absolute;
    top     : calc(50% - #{$logo_height/2});
    left    : 2*$padding;
    width   : $logo_width;
    height  : $logo_height;
    img{
      display: block;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }

  }
  .detail{
    float: left;
    width: calc(100% - #{$logo_effective_width});
    text-align: left;
    margin-left: $logo_effective_width;
    padding: $padding;
    .title, .headline, .description, .caption{
      display: block;
      text-align: left;
      margin: 0;
      padding: 0;
      font-size: small;
      line-height: $line_height;
    }
    .description, .headline, .caption{
      font-size: small;
      color: $black_text_light;
    }
    .caption{
      font-style: italic;
      font-size: 10px;
      .since{
        padding-right: $padding/2;
        color: $black_text;
      }
    }

  }
}