@import 'app/app';

#slate.page{
  .title{
    @extend .fades-and-moves;
  }
}

#slate.page.show-modal{
  .title{
    @extend .pulled-to-top;
    @include transform(translateY(-400%));
  }
}
#nishants.show-modal{
  overflow: hidden;

  .page .title{
    opacity: 0;
  }

  .page:not(.slate){
    opacity: 0;
  }

  .modal{
    pointer-events: all;
  }
}


