#nishants #connect.page {
  .contact {
    margin: auto;

    textarea.message {
      display: block;
      outline: none;
      padding: $padding_big;
      width: 100%;
      resize: none;
      margin: $padding;
      border: 1px solid $black_border;
      text-align: center;
      @extend .input-surface;
    }
    button.send {
      @extend .button-surface;
      display: block;
      width: 100%;
      margin: $padding;
      @include transition(all $transition_time $transition);
      a {
        @extend .undo-link;
        display: block;
        padding: $padding*2;
        @include transition(transform $transition_time $transition);
      }
    }
  }
}