$border_radius : 2px;

$row_height: 35px;
$small_image_size: $row_height;
$topBarHeight: $top_bar_height;
$top_bar_index : $top_bar_layer;
$medium_bold_text : 500;
$shadow_offset: $top_bar_shadow_offset;

.top-bar{
  position: fixed;
  z-index: $top_bar_index;
  top: 0;
  width: 100vw;
  height: $topBarHeight;
  overflow: hidden;
  @extend .top-bar-transition;
  @extend .top-bar-font;

  .background{
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - #{$shadow_offset});
    width: 100%;
    box-shadow: $elevated_shadow;
    @extend .theme-body-bg;
    @include transition(all $transition_time $transition);
  }
}


@import 'profile-bar/profile-bar';
@import 'navigation-bar/navigation-bar';
@import 'nav.transitions';