.sticky-container
  .sticky
    .timeline
      .timeline-header
        .search.bar(ng-controller='SearchController')
          include search/search
        .labels.bar
          include header/header

.timeline-header
  .search.bar(ng-controller='SearchController')
    include search/search
  .labels.bar
    include header/header
.timeline-body
  include scrollable/period-list