.top-bar{
  .profile-bar{
    position: relative;
    @extend .undo-link;
    .name{
      text-align: center;
      line-height: $row_height - $padding;
      @extend .small-bold-text;
      @extend .top-bar-transition;
    }
    .image{
      padding: $padding/2;
      > img{
        display: block;
        margin: auto;
        height: $small_image_size;
        border-radius: $border_radius;
        @extend .top-bar-transition;
      }
    }
  }
}