$scroll_pad : 20px;

$top_bar_layer: 2;

$max_page_width: 1200px;
$black_text    : #373a3c;
$black_text_light    : rgba(0, 0, 0, 0.5);
$transition_time: 300ms;
$transition_time_quick: 100ms;
$transition     : ease;
$top_bar_height: 108px;
$top_bar_shadow_offset: 5px;
$border_radius       : 3px;

$padding_big: $padding*5;
$box_shadow : -1px -1px 5px rgba(0, 0, 0, 0.21);
$elevated_shadow : 1px 1px 3px 1px rgba(1, 1, 1, 0.1);

$line_height: 20px;
$text_shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
$white : rgba(255, 255, 255, 0.9);

$cardWidth: 325px;
$cardHeight: 250px;

@import 'components/typography';
@import 'components/theme';

#nishants{
  color: $theme_color;
  font-family: $font_family;
  text-align : center;
  line-height: $row_height;
  @extend .theme-body-bg;

  .main-content{
    .page, .sticky{
      max-width: $max_page_width;
      padding:  $padding_big;
    }
    .page{
      padding-top: $top_bar_height;
      margin: $padding auto;
      min-height: 100vh;

      @include transition(opacity $transition_time $transition);
      > .title{
        padding: $padding $padding_big;
        margin-bottom: 2 * $padding_big;
        border-bottom: 1px solid $black_border;
        display: inline-block;
        @extend .heading-font;
      }
      .sticky{
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px auto;
      }
      .sticky-container{
        position: fixed;
        top: $top_bar_height - $top_bar_shadow_offset;
        left: 0;
        z-index: $top_bar_layer - 1;
        width: 100%;
        pointer-events: none;
        @include transform(scale(0));
      }

    }
  }
  .description-font{
    font-family: $readable_font;
    font-weight: $weight_light;
    font-style: italic;
    color: $black_text_light;
  }
}

.pulled-to-top{
  opacity: 0;
  @include transform(translateY(-100%));
}

.fades-and-moves{
  @include transition(#{transform $transition_time $transition, opacity $transition_time $transition});
}

.top-bar-transition{
  @include transition(all $transition_time $transition);
}
.small-bold-text{
  font-size: small;
  font-weight: $medium_bold_text;
}

@import 'home/intro';
@import 'nav/nav';
@import 'portfolio/slate';
@import 'components/cards/cards';
@import 'experience/experience';
@import 'contact/contact';
@import 'footer/footer';

@import 'components/deck/deck';
@import 'components/grid/grid';
@import 'components/tags/tag';