$scroll_pad : 20px;

$max_page_width: 1200px;
$black_text    : #373a3c;
$black_border  : rgba(0, 0, 0, 0.1);
$black_text_light    : rgba(0, 0, 0, 0.5);
$transition_time: 300ms;
$transition     : ease;
$top_bar_height: 108px;

#nishants{
  color: $black_text;
  font-family: $font_family;
  .main-content{
    background: white;
    .page{
      @include transition(opacity $transition_time $transition);
      max-width: $max_page_width;
      min-height: 100vh;
      margin: $padding auto;
      padding: $top_bar_height $padding*5 $padding*5 $padding*5;
      text-align: center;

      > .title{
        padding: $padding;
        border-bottom: 1px solid $black_border;
        font-family: $open_sans;
      }
    }
  }
  .description-font{
    font-family: $readable_font;
    font-weight: $weight_light;
    font-style: italic;
    color: $black_text_light;
  }
}

.pulled-to-top{
  opacity: 0;
  @include transform(translateY(-100%));
}

.fades-and-moves{
  @include transition(#{transform $transition_time $transition, opacity $transition_time $transition});
}

@import 'intro/intro';
@import 'top-bar/top_bar';
@import 'slate/slate';
@import 'timeline/timeline';
@import 'contact/contact';
@import 'footer/footer';