nav
  include top-bar/top-bar
.splash
  include loader/loader
.main-content.scroll-container
  .page.intro
    include intro/intro
  #slate.page.slate.theme-font(ng-class="{'show-modal' : deck._current != -1}")
    include slate/slate
