nav
  include top-bar/top-bar
.splash
  include loader/loader
.main-content.scroll-container
  .page.intro
    include intro/intro
  .page.home
    h1 Here begins the main content
    P Some long paragraph about something..how do you like it ?
  .page.design
    h1 Here begins the main content
    P Some long paragraph about something..how do you like it ?