nav
  include top-bar/top-bar
.splash
  include loader/loader
.main-content.scroll-container
  #home.page.intro
    include intro/intro
  #slate.page.slate.theme-font(ng-class="{'show-modal' : deck._current != -1}")
    h1.title Portfolio
    include slate/slate
  #experience.page.experience
    h1.title Experience
    .timeline(ng-controller='TimelineController')
      include timeline/timeline
