$black_border : rgba(0, 0, 0, 0.1);

$padding : 10px;
$card_width: calc(50% - #{$padding * 2});
$border  : 1px solid $black_border;
$line_width: 1px;
$top_offset: $padding*5;
$line_color : $black_border;

$position_color_one : green;
$position_color_two : blue;
$position_color_three : red;

$labels_height : 40px;
$search_height : 40px;
$header_height : $labels_height +  $search_height;

$box_shadow : 10px 1px 5px $black_border;
$approx_position_card_height: $padding_big * 2 + $padding;

.timeline{
  margin: 0px $padding_big;
  height: 100%;
  position: relative;
  border  : $border;

  .sticky-container{
    .timeline{
      border: none;
      overflow: hidden;
      .timeline-header{
        border  : $border;
        box-shadow: $elevated_shadow;
      }
      .period-list{
        position: relative;
        min-height: 100vh;
        > li:not(.period) {
          display: none;
        }
        > li:not(.reading) {
          @include transform(translateY(-100%));
        }
        > li {
          position: absolute;
          width: 100%;
          top: 10px;
          .projects{
            display: none;
          }
        }
        > li.reading{
          .position{
            .compact-card{
              box-shadow: $elevated_shadow;
            }
          }
        }
      }
    };
  }


  .timeline-header{
    @extend .solid-surface;
  }
  .timeline-body{
    height: calc(100% - #{$header_height});
    overflow: auto;
  }
  .card{
    padding: $padding;
  }
  ul.period-list{
    padding-top: $padding;

    @extend .undo-list;
    > li.period-change{
      height: $approx_position_card_height;
    }
    > li.period {
      .position, .projects{
        display: block;
      }
      .central-line{
        position: absolute;
        top     : 0;
        left    : calc(50% - #{$line_width});
        width   : $line_width;
        height  : calc(100% - #{$padding});
        background: $black_border;
      }
    }
  }
  #timeline-ends{
    height: $padding_big;
  }
}


@import 'sticky';
@import 'scrollable/position';
@import 'scrollable/project';
@import 'header/header';
@import 'search/search';
@import 'compact-card/compact-card';
@import 'timeline.transitions';
