ul.contact.social
  li
    a.link.mailto.btn.btn-outline-primary.fa.fa-envelope(href='mailto:nishant.singh87@gmail.com', target='_top')
  li
    a.link.twitter.btn.btn-outline-primary.fa.fa-twitter(href='https://twitter.com/nshnt_sng', target='_blank')
  li
    a.link.linkedin.btn.btn-outline-primary.fa.fa-linkedin(href='https://www.linkedin.com/in/nishant-singh-b2420946', target='_blank')
  li
    a.link.stack-overflow.btn.btn-outline-primary.fa.fa-stack-overflow(href='http://stackoverflow.com/users/1065020/dawn', target='_blank')
  li
    a.link.github.btn.btn-outline-primary.fa.fa-github(href='https://github.com/nishants', target='_blank')