$profile_image_height: 80px;
$profile_image_width : 80px;
$line_height         : 30px;
$font_size           : medium;
$font_weight         : 300;
$border_radius       : 3px;
$description_width  : 800px;

$option_button_height: 50px;
$option_menu_width: $description_width;
$option_button_widtht: $option_menu_width/2 - $padding;

#nishants{
  .page.intro{
    padding-top: $padding*5;
    .heading{
      padding-bottom: $padding;
      border-bottom: 1px solid $black_border;
      .profile-image{
        padding: $padding/2;
        overflow: hidden;
        img {
          height  : $profile_image_height;
          width   : $profile_image_width;
          display : block;
          margin  : auto;
          border-radius: $border_radius;
          @include transition(all $transition_time $transition);
        }
      }

      .name, .title{
        text-align: center;
        line-height: $line_height;
        font-size: $font_size;
        font-weight: $font_weight;
      }
      .title{
        color: $black_text_light;
      }

    }
    .about-me{
      max-width: $description_width;
      margin: auto;
      ul {
        > li {
          padding-bottom: $padding;
        }
      }
    }

    .options{
      ul.navigation{
        width: $description_width;
        @extend .undo-list;
        @extend .resize-container;
        margin: auto !important;
        > li {
          padding : $padding;
          display: inline-block;
          width: $option_button_widtht;

          .link{
            height: $option_button_height;
            width: 100%;

            line-height: $option_button_height;
            margin: auto;
            text-align: center;
            border: 1px solid $black_border;
          }
        }
        > li.coaching{
          width: $option_menu_width;
          .link{
            width: $option_button_widtht;
          }
        }
      }
    }

  }
}

@import "intro.transition";