$profile_image_height: 80px;
$profile_image_width : 80px;
$line_height         : 30px;
$font_size           : medium;
$font_weight         : 300;
$border_radius       : 3px;

$option_button_height: 50px;
$actions_width : 300px;
$line_height: 25px;
$weight_light : 300;

#nishants{
  .page.intro{
    padding-top: $padding*5;
    .overview{
      margin: auto;
      @extend .resize-container;

      .description, .actions{
        float: left;
        width: 50%;
        padding: $padding*2 $padding*3;
        font-weight: $weight_light;
      }
      .actions{
        width: $actions_width;
        border-right: 1px solid $black_border;
      }
      .description{
        line-height: $line_height;
      }
    }
  }
}

@import "heading/heading";
@import "navigation/navigation";
@import "aboutme/aboutme";
@import "intro.transition";