ul.navigation
  li.design
    a.link(href='#portfolio?tags=design')
     span Interaction Design
  li.development
    a.link(href='#portfolio?tags=development')
      span Development
  li.coaching
    a.link(href='#portfolio?tags=coaching')
      span Technical Coaching
  li.experience
    a.link(href='#experience')
      span Experience
  li.connect
    a.link(href='#connect')
      span Connect