#nishants{
  .intro{
    ul.navigation{
      @extend .undo-list;
      @extend .resize-container;
      > li {
        display: block;
        overflow: hidden;
        padding-bottom: $padding;

        .link{
          @extend .undo-link;
          display: block;
          height     : $option_button_height;
          line-height: $option_button_height;
          font-size: small;
          padding: 0px 2*$padding;
          width: 100%;
          margin: auto;
          text-align: right;
          font-weight: $weight_bold;
          opacity: 0.8;
          @extend .button-surface;
          @extend .fades-and-moves;
          span {
            display: inline-block;
            @include transition(transform $transition_time $transition)
          };
        }
      }
      >li:hover{
        > .link{
          span {
            @include transform(translateX(-$padding*2));
          }
        }
      }
    }
  }
}
