ul.navigation
  li.design
    a.link(href='#portfolio?tags=design')
     span Apps
  li.development
    a.link(href='#portfolio?tags=development')
      span Open Source
  li.coaching
    a.link(href='#portfolio?tags=coaching')
      span Experiments
  li.experience
    a.link(href='#experience')
      span Experience
  li.connect
    a.link(href='#connect')
      span Connect