@import url("https://fonts.googleapis.com/css?family=Raleway:300,600,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400i,400,700");
p {
  margin-bottom: 1em; }

.heading {
  margin-bottom: 0.618em; }
  .heading.-large, h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px; }
  .heading.-medium, h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px; }
  .heading.-small, h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 13.33333px; }
  .heading.-smallest {
    font-size: 10px;
    font-weight: bold; }

body {
  margin: 0px;
  padding: 0px; }

body * {
  box-sizing: border-box; }

label {
  cursor: inherit; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

.resize-container:after, ul.inline-list:after, #nishants .page.intro:after, #nishants .page.intro .options ul.navigation:after, .top-bar .title .navigation:after, #slate .modal .content .frame-bar:after, #slate .modal .content .frame-bar ul.actions:after {
  content: "";
  display: table;
  clear: both; }

ul.undo-list, ul.inline-list, #nishants .page.intro .options ul.navigation, .top-bar .title ul.navigation, #slate .modal .content .frame-bar ul.actions {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

ul.inline-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block; }
  ul.inline-list > li {
    float: left; }

#nishants {
  color: #373a3c;
  font-family: "Raleway", sans-serif; }
  #nishants .main-content {
    background: white;
    width: calc(100vw + 20px);
    padding-right: 20px;
    padding-bottom: 100vh; }
    #nishants .main-content .page {
      -webkit-transition: opacity 300ms ease;
      -moz-transition: opacity 300ms ease;
      -o-transition: opacity 300ms ease;
      transition: opacity 300ms ease;
      max-width: 1200px;
      margin: 10px auto;
      padding: 10px; }

#nishants .page.intro {
  padding-top: 50px; }
  #nishants .page.intro .overview {
    margin: auto;
    width: 800px; }
    #nishants .page.intro .overview .card {
      float: left;
      width: 400px; }
  #nishants .page.intro .heading {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #nishants .page.intro .heading .profile-image {
      padding: 5px;
      overflow: hidden; }
      #nishants .page.intro .heading .profile-image img {
        height: 80px;
        width: 80px;
        display: block;
        margin: auto;
        border-radius: 3px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease; }
    #nishants .page.intro .heading .name, #nishants .page.intro .heading .title {
      text-align: center;
      line-height: 30px;
      font-size: medium;
      font-weight: 300; }
    #nishants .page.intro .heading .name label {
      -webkit-transition: transform 300ms ease, opacity 300ms ease;
      -moz-transition: transform 300ms ease, opacity 300ms ease;
      -o-transition: transform 300ms ease, opacity 300ms ease;
      transition: transform 300ms ease, opacity 300ms ease; }
    #nishants .page.intro .heading .title {
      color: rgba(0, 0, 0, 0.5); }
  #nishants .page.intro .about-me {
    margin: auto; }
    #nishants .page.intro .about-me ul > li {
      padding-bottom: 10px; }
  #nishants .page.intro .options ul.navigation > li {
    padding: 10px;
    display: block;
    margin: auto;
    width: 300px;
    overflow: hidden; }
    #nishants .page.intro .options ul.navigation > li .link {
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
      -webkit-transition: transform 300ms ease, opacity 300ms ease;
      -moz-transition: transform 300ms ease, opacity 300ms ease;
      -o-transition: transform 300ms ease, opacity 300ms ease;
      transition: transform 300ms ease, opacity 300ms ease; }

.pulled-to-top, #nishants.show-name .intro .name label, #nishants.show-top-bar .intro .profile-image img, #nishants.show-design .intro .options ul.navigation > li.design .link, #nishants.show-development .intro .options ul.navigation > li.development .link, #nishants.show-coaching .intro .options ul.navigation > li.coaching .link, #nishants.show-experience .intro .options ul.navigation > li.experience .link, #nishants.show-connect .intro .options ul.navigation > li.connect .link {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.top-bar-transition, .top-bar, .top-bar .name, .top-bar .title, .top-bar .image > img, #nishants-site .overview, #nishants-site .overview .profile-image img {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

.small-bold-text, .top-bar .name {
  font-size: small;
  font-weight: 500; }

.top-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 108px;
  overflow: hidden; }
  .top-bar .background {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 5px);
    width: 100%;
    background: white;
    box-shadow: 0 0 5px 1px rgba(1, 1, 1, 0.3);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
  .top-bar .heading {
    position: relative; }
  .top-bar .name {
    text-align: center;
    line-height: 25px; }
  .top-bar .title .navigation {
    font-size: small;
    font-weight: 500;
    line-height: 25px;
    width: 405px;
    margin: auto !important;
    overflow: hidden; }
    .top-bar .title .navigation > li {
      float: left;
      -webkit-transition: transform 300ms ease;
      -moz-transition: transform 300ms ease;
      -o-transition: transform 300ms ease;
      transition: transform 300ms ease; }
    .top-bar .title .navigation > li:not(:last-child):after {
      content: " | ";
      display: inline-block;
      width: 20px;
      text-align: center; }
  .top-bar .image {
    padding: 5px; }
    .top-bar .image > img {
      display: block;
      margin: auto;
      height: 35px;
      border-radius: 2px; }

#nishants-site:not(.show-top-bar) .top-bar {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }
  #nishants-site:not(.show-top-bar) .top-bar .image > img {
    opacity: 0; }

#nishants-site:not(.show-top-bar-name) .top-bar .name {
  opacity: 0;
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants-site:not(.show-top-bar-title) .top-bar .title {
  opacity: 0;
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants-site:not(.show-top-bar-contact) .top-bar .contact {
  opacity: 0;
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants-site.show-top-bar .cover .bg-wrapper img.bg {
  opacity: 0; }
#nishants-site.show-top-bar .overview .profile-image > img {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

#nishants:not(.show-top-bar) .top-bar {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

#nishants:not(.show-name) .top-bar .heading .name {
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }

#nishants:not(.show-navigation) .top-bar .background {
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px); }
#nishants:not(.show-navigation) .top-bar ul.navigation > li {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-design) .top-bar ul.navigation > li.design {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-connect) .top-bar ul.navigation > li.connect {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-experience) .top-bar ul.navigation > li.experience {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-coaching) .top-bar ul.navigation > li.coaching {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-development) .top-bar ul.navigation > li.development {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants.show-modal .top-bar {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.theme-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.navigation-bar-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.theme-font-bold {
  font-weight: 700; }

.theme-font-ligth {
  font-weight: 300; }

[ng-click] {
  cursor: pointer; }

#slate .overview .card-space .speaks {
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  -webkit-transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -ms-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms; }
#slate .modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  pointer-events: none; }
  #slate .modal .content, #slate .modal .overview {
    padding: 10px;
    height: 100%;
    float: left; }
#slate .modal .overview {
  overflow: visible; }
  #slate .modal .overview .card-space {
    position: relative;
    width: 300px;
    overflow: visible; }
    #slate .modal .overview .card-space .speaks {
      position: absolute;
      top: 10px;
      right: -16px;
      height: 25px;
      width: 17px;
      border-left: 1px solid white; }
      #slate .modal .overview .card-space .speaks .triangle {
        position: relative;
        left: -1px;
        top: -1px; }
  #slate .modal .overview .card-actions {
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    width: 300px;
    height: 300px;
    pointer-events: all;
    padding: 10px; }
    #slate .modal .overview .card-actions button {
      width: 100%;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.075);
      border: 1px solid rgba(0, 0, 0, 0.05); }
#slate .modal .content {
  position: relative;
  margin: 10px;
  padding: 0px;
  -webkit-transition: transform 350ms ease, opacity 350ms ease;
  -moz-transition: transform 350ms ease, opacity 350ms ease;
  -o-transition: transform 350ms ease, opacity 350ms ease;
  transition: transform 350ms ease, opacity 350ms ease;
  width: calc(100% - 340px);
  border: 5px solid #EEE;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.21); }
  #slate .modal .content .frame-bar {
    position: relative;
    z-index: 1;
    background: #EEE;
    pointer-events: all;
    color: #646464;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 40px; }
    #slate .modal .content .frame-bar .title {
      float: left;
      overflow: hidden;
      padding-left: 10px;
      width: calc(100% - 360px);
      opacity: 0.3;
      font-size: small; }
    #slate .modal .content .frame-bar ul.actions {
      float: right; }
      #slate .modal .content .frame-bar ul.actions > li {
        float: right; }
        #slate .modal .content .frame-bar ul.actions > li > a {
          display: block;
          line-height: inherit;
          padding: 0px 20px;
          opacity: 0.3;
          text-decoration: none;
          color: inherit;
          width: 60px; }
        #slate .modal .content .frame-bar ul.actions > li > a:hover {
          opacity: 1; }
  #slate .modal .content .loader, #slate .modal .content .frame {
    height: calc(100% - 40px);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 350ms ease;
    -moz-transition: opacity 350ms ease;
    -o-transition: opacity 350ms ease;
    transition: opacity 350ms ease; }
  #slate .modal .content .frame {
    overflow: auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    pointer-events: all;
    opacity: 0; }
  #slate .modal .content .loader {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    color: #646464;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    background: #EEE;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 50px;
    font-size: 50px;
    text-align: center;
    padding-top: 25px; }
#slate .modal .content.ready .frame {
  opacity: 1; }
#slate .modal .content.ready .loader {
  opacity: 0;
  pointer-events: none; }
#slate .modal .content.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  margin: 10px; }
#slate .modal .content.mobile-screen .frame {
  display: block;
  width: 412px;
  height: 732px;
  margin: auto; }

#slate.show-modal .card-space {
  opacity: 1; }

#slate:not(.show-modal) .modal {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -ms-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms; }
  #slate:not(.show-modal) .modal .overview .card-space .speaks {
    opacity: 0; }
  #slate:not(.show-modal) .modal .overview .card-actions {
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    transform: translateY(100vh); }
  #slate:not(.show-modal) .modal .content {
    -webkit-transform: translateX(100vw);
    -moz-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    -o-transform: translateX(100vw);
    transform: translateX(100vw); }

.card-title-text, .card .name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.card-body-text, .card p, .card .ui-tutorial > .description .lead {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.card {
  width: 300px;
  display: block;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #646464;
  background: white;
  padding: 0px 10px; }
  .card img {
    width: 100%; }
  .card .name {
    margin: 20px 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: large; }
  .card p {
    line-height: 20px; }
  .card .ui-tutorial {
    max-height: calc(100% - 2 * 10px);
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .card .ui-tutorial > .description .lead {
      opacity: 0.9;
      padding-right: 5px;
      font-size: small; }
    .card .ui-tutorial > .description .follow {
      opacity: 0.5;
      font-size: small; }

ul.deck {
  margin: 0;
  padding: 10px;
  padding-top: 130px;
  display: block;
  list-style: none;
  text-align: left;
  width: 100%;
  overflow: visible; }
  ul.deck > li {
    padding: 10px;
    float: left;
    -webkit-transition: opacity 250ms ease, transform 250ms ease;
    -moz-transition: opacity 250ms ease, transform 250ms ease;
    -o-transition: opacity 250ms ease, transform 250ms ease;
    transition: opacity 250ms ease, transform 250ms ease; }

.deck.focus {
  pointer-events: none; }
  .deck.focus li.selected {
    pointer-events: none; }
  .deck.focus li.selected-head {
    -webkit-transform: translateY(50px) rotate(0deg);
    -moz-transform: translateY(50px) rotate(0deg);
    -ms-transform: translateY(50px) rotate(0deg);
    -o-transform: translateY(50px) rotate(0deg);
    transform: translateY(50px) rotate(0deg); }
  .deck.focus li.selected-tail {
    -webkit-transform: translateY(-50px) rotate(0deg);
    -moz-transform: translateY(-50px) rotate(0deg);
    -ms-transform: translateY(-50px) rotate(0deg);
    -o-transform: translateY(-50px) rotate(0deg);
    transform: translateY(-50px) rotate(0deg); }
  .deck.focus li.selected-pre {
    -webkit-transform: translateX(50px) rotate(0deg);
    -moz-transform: translateX(50px) rotate(0deg);
    -ms-transform: translateX(50px) rotate(0deg);
    -o-transform: translateX(50px) rotate(0deg);
    transform: translateX(50px) rotate(0deg); }
  .deck.focus li.selected-post {
    -webkit-transform: translateX(-50px) rotate(0deg);
    -moz-transform: translateX(-50px) rotate(0deg);
    -ms-transform: translateX(-50px) rotate(0deg);
    -o-transform: translateX(-50px) rotate(0deg);
    transform: translateX(-50px) rotate(0deg); }
  .deck.focus li:not(.selected) {
    opacity: 0; }

ul.grid {
  position: relative; }
  ul.grid > li.grid-box {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

#nishants.show-modal {
  overflow: hidden; }
  #nishants.show-modal .page:not(.slate) {
    opacity: 0; }
  #nishants.show-modal .modal {
    pointer-events: all; }

@media screen and (max-width: 700px) {
  .no-mobile {
    display: none !important; } }
@media screen and (min-width: 700px) {
  .mobile-only {
    display: none !important; } }

/*# sourceMappingURL=index.css.map */
