@import url("https://fonts.googleapis.com/css?family=Raleway:300,600,500,700");
p {
  margin-bottom: 1em; }

.heading {
  margin-bottom: 0.618em; }
  .heading.-large, h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px; }
  .heading.-medium, h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px; }
  .heading.-small, h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 13.33333px; }
  .heading.-smallest {
    font-size: 10px;
    font-weight: bold; }

body {
  margin: 0px;
  padding: 0px; }

body * {
  box-sizing: border-box; }

label {
  cursor: inherit; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

.resize-container:after, ul.inline-list:after, .top-bar .title .navigation:after {
  content: "";
  display: table;
  clear: both; }

ul.undo-list, ul.inline-list, #nishants .page.intro .options ul.navigation, .top-bar .title ul.navigation {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

ul.inline-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block; }
  ul.inline-list > li {
    float: left; }

#nishants {
  overflow: hidden;
  height: 100vh;
  color: #373a3c;
  font-family: "Raleway", sans-serif; }
  #nishants .main-content {
    background: white;
    height: 100vh;
    width: calc(100vw + 20px);
    padding-right: 20px;
    overflow: auto;
    padding-bottom: 100vh; }
    #nishants .main-content .page {
      max-width: 1200px;
      margin: 10px auto;
      padding: 10px; }

#nishants .page.intro {
  padding-top: 200px; }
  #nishants .page.intro .heading {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #nishants .page.intro .heading .profile-image {
      padding: 5px;
      overflow: hidden; }
      #nishants .page.intro .heading .profile-image img {
        height: 80px;
        width: 80px;
        display: block;
        margin: auto;
        border-radius: 3px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease; }
    #nishants .page.intro .heading .name, #nishants .page.intro .heading .title {
      text-align: center;
      line-height: 30px;
      font-size: medium;
      font-weight: 300; }
    #nishants .page.intro .heading .title {
      color: rgba(0, 0, 0, 0.5); }
  #nishants .page.intro .about-me {
    max-width: 800px;
    margin: auto; }
    #nishants .page.intro .about-me ul > li {
      padding-bottom: 10px; }
  #nishants .page.intro .options ul.navigation > li {
    padding: 10px 0px; }
    #nishants .page.intro .options ul.navigation > li .link {
      height: 50px;
      max-width: 800px;
      line-height: 50px;
      margin: auto;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.1); }

#nishants.show-name .intro .name {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

#nishants.show-top-bar .intro .profile-image img {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.top-bar-transition, .top-bar, .top-bar .name, .top-bar .title, .top-bar .title .navigation > li, .top-bar .image > img, #nishants-site .overview, #nishants-site .overview .profile-image img {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

.small-bold-text, .top-bar .name {
  font-size: small;
  font-weight: 500; }

.top-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 108px;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 5px 1px rgba(1, 1, 1, 0.3); }
  .top-bar .heading {
    position: relative; }
  .top-bar .name {
    text-align: center;
    line-height: 25px; }
  .top-bar .title .navigation {
    font-size: small;
    font-weight: 500;
    line-height: 25px;
    width: 405px;
    margin: auto !important; }
    .top-bar .title .navigation > li {
      float: left; }
    .top-bar .title .navigation > li:not(:last-child):after {
      content: " | ";
      display: inline-block;
      width: 20px;
      text-align: center; }
  .top-bar .image {
    padding: 5px; }
    .top-bar .image > img {
      display: block;
      margin: auto;
      height: 35px;
      border-radius: 2px; }

#nishants-site:not(.show-top-bar) .top-bar {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }
  #nishants-site:not(.show-top-bar) .top-bar .image > img {
    opacity: 0; }

#nishants-site:not(.show-top-bar-name) .top-bar .name {
  opacity: 0;
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants-site:not(.show-top-bar-title) .top-bar .title {
  opacity: 0;
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants-site:not(.show-top-bar-contact) .top-bar .contact {
  opacity: 0;
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants-site.show-top-bar .cover .bg-wrapper img.bg {
  opacity: 0; }
#nishants-site.show-top-bar .overview .profile-image > img {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

#nishants:not(.show-top-bar) .top-bar {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

#nishants:not(.show-name) .top-bar .heading .name {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-design) .top-bar ul.navigation > li.design {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-connect) .top-bar ul.navigation > li.connect {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-experience) .top-bar ul.navigation > li.experience {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-coaching) .top-bar ul.navigation > li.coaching {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

#nishants:not(.show-development) .top-bar ul.navigation > li.development {
  -webkit-transform: translateY(108px);
  -moz-transform: translateY(108px);
  -ms-transform: translateY(108px);
  -o-transform: translateY(108px);
  transform: translateY(108px); }

@media screen and (max-width: 700px) {
  .no-mobile {
    display: none !important; } }
@media screen and (min-width: 700px) {
  .mobile-only {
    display: none !important; } }

/*# sourceMappingURL=index.css.map */
