
<div ng-class="{'single-deck' : vocabset.decks.length==1}" class="vocabset card">
  <div ng-if="vocabset.assigned" class="assigned">
    <div class="assigned-date">Assigned on {{vocabset.assigned.date}}</div>
    <div class="assigned-by">
      <div class="picture"><img ng-src="{{vocabset.assigned.by.picture}}"/></div>
      <div ng-bind="vocabset.assigned.by.name" class="name"></div>
    </div>
    <div class="assigned-message"><span ng-bind="vocabset.assigned.message"></span>
      <div class="speak"></div>
    </div>
  </div>
  <div class="cover-image"><img ng-src="{{vocabset.image}}"/></div>
  <div class="author">
    <div ng-bind="vocabset.title" class="title"></div>
    <div class="by">By {{vocabset.by}}</div>
    <div ng-bind="vocabset.description" class="description"></div>
  </div>
  <div ng-if="vocabset.reader" class="reader">
    <div ng-bind="vocabset.reader.headline" class="headline title"></div>
    <div ng-bind="vocabset.reader.text" class="text"></div>
  </div>
  <div ng-repeat="deck in vocabset.decks" class="deck">
    <label class="deck-title">Deck-{{$index+1}}</label>
    <ul class="exposures">
      <div class="connector"></div>
      <li ng-repeat="exposure in deck.exposures">
        <div class="exposure">
          <div ng-if="exposure.end_bonus_at" class="marker bonus"><span>Bonus expires in 21:12:21 hours.</span></div>
          <div ng-if="exposure.enable_at" class="marker waiting"><span>Available in 21:12:21 hours.</span></div>
          <div ng-if="exposure.enable_at" class="speak waiting"></div>
          <div ng-if="exposure.end_bonus_at" class="speak bonus"></div>
          <div ng-if="exposure.pending" class="state pending">
            <div class="fa fa-lock"></div>
          </div>
          <div ng-if="exposure.completed" class="state completed">
            <div class="fa fa-check"></div>
          </div>
          <div ng-if="exposure.playable" class="state current playable">
            <div class="fa fa-play"></div>
          </div>
          <div ng-if="exposure.waiting" class="state current waiting">
            <div class="fa fa-lock"></div>
          </div>
        </div>
      </li>
    </ul>
    <div class="words">
      <div class="quote fa fa-quote-left"></div><span ng-bind="deck.words" class="text"></span>
      <div class="quote right fa fa-quote-right"></div>
    </div>
    <button class="study-words">Study Words</button>
  </div>
</div>