$blue         : #4A90E2;
$orange       : #F6A623;
$grey         : #EEE;
$red          : #ff5722;
$white_shade  : #fbfbfb;

$highlight_contrast : $orange;
$contrast_color     : $grey;
$theme_color        : $blue;
$error_highlight    : $red;
$light_contrast     : $white_shade;
$theme_bg_contrast  : black;

$very_light   : rgba(0, 0, 0, 0.1);
$light        : rgba(0, 0, 0, 0.2);
$white        : rgba(255, 255, 255, 0.9);
$dim_white    : rgba(255, 255, 255, 0.3);
$white_smoke  : rgba(255, 255, 255, 0.5);
$white_text   : rgba(255, 255, 255, 0.7);
$black_text   : rgba(0, 0, 0, 0.7);
$light_text   : rgba(0, 0, 0, 0.5);
$black_tint   : rgba(0, 0, 0, 0.7);
$dim_black_text   : rgba(0, 0, 0, 0.6);
$very_light_text  : rgba(0, 0, 0, 0.3);

