$weight_normal: 400;
$weight_bold: 500;
$weight_light: 300;

@import url('https://fonts.googleapis.com/css?family=Roboto:#{$weight_light},#{$weight_light}i,#{$weight_normal},#{$weight_bold}');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:#{$weight_normal}i,#{$weight_normal},#{$weight_bold}');


$font_family: 'Ubuntu', sans-serif;
$card_font     : $font_family;
$spaced_font     : $font_family;
$open_sans     : $font_family;


.light-text{
  font-weight: $weight_light;
}

.heading-font{
  text-shadow: inherit;
}

.top-bar-font{
  text-shadow: inherit;
}
.theme-font{
  font-weight: $weight_normal;
}

