$logoColor: #2F2F2F;
$secondLogoColor: #FBD683;

$toTopIconSize : 40px;

$topBarLayer: 1000;
$fixedBarHeight: 85px;
$appBarHeight  : 45px;
$navigationBarHeight: $fixedBarHeight - $appBarHeight;

@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
$defaultTransitionFunction : "cubic-bezier(0.45, 0.515, 0.36, 0.88)";

$borderColor: rgba(0, 0, 0, 0.01);
$barColor: #EEE;

$searchHeight: 30px;
$searchBorderRadius: 1px;

$fontSize: 13px;
$iconSize: 16px;
$iconsWidth: 140px;

$barTransition: ease;
$logoWidth: 90px;
$linkHoverHighlight: rgba(0, 128, 0, 0.8);
$linkSelectedHighlight: rgba(0, 128, 0, 0.3);
$navigationLinkWidth: 100px;
$navigationPadding: 10px;
$barShadow: 0 0 5px 1px rgba(1, 1, 1, 0.3);
$barTransitionTime: 500ms;

$appBarColor: rgba(255,255,255,0.95);
$navigationBarColor: $appBarColor;
$navigationBarFontColor : rgba(0, 0, 0, 0.3);
$iconsTransitionTime: 200ms;

#top-fixed-bar{
  position: fixed;
  top: 0px;
  z-index: $topBarLayer;

  width: 100%;

  text-align: center;
  font-size: $fontSize;
  color: $logoColor;
  pointer-events: none;
  overflow:  visible;
  @extend .navigation-bar-text;
  @include transition(all $transition_duration $transition_function) ;

  .bar{
    pointer-events: all;
    > ul > li {
      float: left;
      a{
        display: block;
        width: $navigationLinkWidth;
        text-transform: capitalize;
      }
    }
  }



}


.scroll-listener.reading  #top-fixed-bar{
  .app.bar{
    background-color: $appBarColor;
  }
  .navigation.bar{
    @include transform(translateY(-$navigationBarHeight));
  }
}

#slate.show-modal{
  #top-fixed-bar{
    @include transform(translateY(-($fixedBarHeight + $appBarHeight)));
  }
}

@import 'navigation-bar/navigation-bar';
@import 'search-bar/search-bar';