#nishants #connect.page {
  .contact {
    margin: auto;

    textarea.message {
      display: block;
      outline: none;
      padding: $padding_big;
      width: 100%;
      resize: none;
      margin: $padding;
      border: 1px solid $black_border;
    }
    button.send {
      display: block;
      width: 100%;
      margin: $padding;
      background: white;
      border: 1px solid $black_border;
      a {
        @extend .undo-link;
        display: block;
        padding: $padding*2;
      }
    }
  }
}