ul.undo-list
  li.logo
    a
      include ../navigation-bar/logo-svg
  li.search
    span.fa.fa-search
    input(type='search', placeholder='search')
  li.icons
    ul.undo-list
      li.messages
        span.fa.fa-comments
        label 5
      li.account
        span.fa.fa-user
        label user