.card-space
  div.speaks
    svg.triangle(width='17px', height='27px', viewbox='109 171 17 27', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      // Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch
      desc Created with Sketch.
      defs
        polyline#path-1(points='109.5 172 124.5 184.533333 109.5 197')
        filter#filter-2(x='-50%', y='-50%', width='200%', height='200%', filterunits='objectBoundingBox')
          fegaussianblur(stddeviation='1.5', in='SourceAlpha', result='shadowBlurInner1')
          feoffset(dx='-1', dy='1', in='shadowBlurInner1', result='shadowOffsetInner1')
          fecomposite(in='shadowOffsetInner1', in2='SourceAlpha', operator='arithmetic', k2='-1', k3='1', result='shadowInnerInner1')
          fecolormatrix(values='0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0', type='matrix', in='shadowInnerInner1')
      g#Path-1(stroke='none', fill='none')
        use(fill='black', fill-opacity='1', filter='url(#filter-2)', xlink:href='#path-1')
        use(stroke-opacity='0.1', stroke='#000000', stroke-width='1', xlink:href='#path-1')

.card-actions
  //a(target="_blank",href="{{modal._frame._src}}") Open
  //button(ng-click="modal.close()") Close
