p {
  margin-bottom: 1em; }

.heading {
  margin-bottom: 0.618em; }
  .heading.-large, h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px; }
  .heading.-medium, h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px; }
  .heading.-small, h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 13.33333px; }
  .heading.-smallest {
    font-size: 10px;
    font-weight: bold; }

body {
  margin: 0px;
  padding: 0px; }

body * {
  box-sizing: border-box; }

label {
  cursor: inherit; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

.resize-container:after, ul.inline-list:after, #mission-wizard .wizard ul.panes:after, #mission-wizard .wizard ul.status:after {
  content: "";
  display: table;
  clear: both; }

ul.undo-list, ul.inline-list, #mission-wizard .wizard ul.panes, #mission-wizard .wizard ul.status {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

ul.inline-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block; }
  ul.inline-list > li {
    float: left; }

body {
  padding: 10px; }

.modal-window {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.75);
  line-height: 100vh;
  text-align: center; }
  .modal-window .content {
    display: inline-block;
    line-height: 25px;
    background: white;
    padding: 50px; }

.modal-window:not(.show) {
  opacity: 0;
  pointer-events: none; }
  .modal-window:not(.show) * {
    pointer-events: none !important; }

#intro .content .skip {
  margin-top: 10px;
  padding: 10px;
  float: right; }

#background.star-world {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url(../images/twinkle.gif) repeat fixed center center; }

#top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  padding: 10px;
  background-color: #EEE; }
  #top-bar .credit {
    text-align: center; }

#bottom-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  padding: 10px;
  background-color: #EEE; }
  #bottom-bar .mission-time, #bottom-bar .send-mission {
    float: left;
    width: 50%;
    text-align: center; }

#mission-wizard .wizard {
  width: 500px; }
  #mission-wizard .wizard ul.panes > li, #mission-wizard .wizard ul.status > li {
    float: left; }
  #mission-wizard .wizard ul.status {
    width: 100%; }
    #mission-wizard .wizard ul.status > li {
      width: 50%;
      text-align: center; }
  #mission-wizard .wizard .window {
    width: 100%;
    overflow: hidden; }
    #mission-wizard .wizard .window ul.panes {
      width: 200%;
      overflow: hidden; }
      #mission-wizard .wizard .window ul.panes > li {
        width: 50%;
        height: 100%;
        text-align: center;
        border: 1px solid black; }
#mission-wizard .wizard.vehicle-select .window ul.panes {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

/*# sourceMappingURL=index.css.map */
