@import url("https://fonts.googleapis.com/css?family=Aldrich|Orbitron");
body * {
  box-sizing: border-box; }

label {
  cursor: inherit; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

.resize-container:after, .modal-window .content .bar:after, #missions-selected > ul.missions > li:after, #mission-wizard .wizard ul.panes:after, #mission-wizard .wizard ul.status:after {
  content: "";
  display: table;
  clear: both; }

ul.undo-list, ul.deck, #missions-selected > ul.missions, #mission-wizard .wizard ul.panes, #mission-wizard .wizard ul.status {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

[ng-click] {
  cursor: pointer; }

body {
  margin: 0px;
  background: black; }

#main-content {
  position: relative;
  overflow: hidden; }
  #main-content button {
    padding: 10px;
    color: rgba(255, 255, 255, 0.95);
    border: 1px solid transparent;
    font-size: large;
    background-color: #3dc743;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease; }
  #main-content .thumbnail, #main-content ul.deck > li .card .icon, ul.deck > li .card #main-content .icon {
    height: 50px;
    width: 50px; }
  #main-content .title-text, #main-content button, #main-content #missions-selected > ul.missions > li, #main-content #mission-wizard .wizard ul.status, #mission-wizard .wizard #main-content ul.status, #main-content #mission-wizard .wizard .window ul.panes > li, #mission-wizard .wizard .window #main-content ul.panes > li {
    font-family: "Aldrich", sans-serif; }

.modal-window {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  line-height: 100vh;
  text-align: center;
  -webkit-transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  -o-transition: opacity 150ms ease;
  transition: opacity 150ms ease; }
  .modal-window .content {
    display: inline-block;
    line-height: 25px;
    color: #00FF80;
    padding: 10px;
    background: black;
    border: 1px solid rgba(0, 255, 128, 0.3); }
    .modal-window .content .bar {
      padding-bottom: 10px; }
      .modal-window .content .bar .close-modal {
        float: right;
        padding: 10px;
        border: 1px solid rgba(0, 255, 128, 0.3); }

.modal-window:not(.show) {
  opacity: 0;
  pointer-events: none; }
  .modal-window:not(.show) * {
    pointer-events: none !important; }

ul.deck {
  display: block; }
  ul.deck > li {
    display: inline-block;
    margin: 10px; }
    ul.deck > li .card {
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1); }
      ul.deck > li .card .name {
        padding-top: 10px; }
      ul.deck > li .card .caption {
        font-size: small;
        font-style: italic;
        line-height: 15px;
        opacity: 0.5; }
      ul.deck > li .card .icon {
        display: block;
        margin: auto; }

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: black; }
  #background .star-world {
    min-width: 100%;
    min-height: 100%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: url(../images/twinkle.gif) repeat fixed center center; }
  #background .space-station {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block; }

@keyframes travelerSky {
  0% {
    -webkit-transform: scale(1.5) rotate(0deg);
    -moz-transform: scale(1.5) rotate(0deg);
    -ms-transform: scale(1.5) rotate(0deg);
    -o-transform: scale(1.5) rotate(0deg);
    transform: scale(1.5) rotate(0deg); }
  50% {
    -webkit-transform: scale(2) rotate(-360deg);
    -moz-transform: scale(2) rotate(-360deg);
    -ms-transform: scale(2) rotate(-360deg);
    -o-transform: scale(2) rotate(-360deg);
    transform: scale(2) rotate(-360deg); }
  100% {
    -webkit-transform: scale(1.5) rotate(0deg);
    -moz-transform: scale(1.5) rotate(0deg);
    -ms-transform: scale(1.5) rotate(0deg);
    -o-transform: scale(1.5) rotate(0deg);
    transform: scale(1.5) rotate(0deg); } }
.traveler-sky {
  animation: travelerSky 700s infinite;
  animation-timing-function: linear; }

#game-result .content {
  padding: 20px;
  border: 1px solid rgba(0, 255, 128, 0.3); }
  #game-result .content .message h1 {
    margin: 0px; }
  #game-result .content .restart {
    margin-top: 20px; }
    #game-result .content .restart button {
      padding: 10px 50px; }
  #game-result .content .loader {
    padding: 20px;
    font-size: large; }

#game-result.loading .content .restart {
  display: none; }

#game-result:not(.lost) .content .message.lost {
  display: none; }

#game-result:not(.loading) .content .loader {
  display: none; }

#game-result:not(.won) .content .won.message {
  display: none; }

#help .content {
  padding: 20px;
  border: 1px solid; }
  #help .content .message {
    text-align: left; }
  #help .content .skip {
    margin-top: 10px;
    padding: 10px 50px; }

#missions-home {
  color: white;
  text-align: center;
  margin: auto; }
  #missions-home #help-button {
    padding: 10px;
    font-size: 30px; }
    #missions-home #help-button > .fa {
      color: rgba(255, 255, 255, 0.3);
      text-align: center; }
  #missions-home #mission-action {
    width: 100%;
    margin: 10px auto;
    padding: 0px 10px;
    max-width: 500px; }
    #missions-home #mission-action > button {
      width: 100%;
      opacity: 0.95; }

#missions-selected > ul.missions {
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.6); }
  #missions-selected > ul.missions > li {
    display: block;
    margin: auto;
    line-height: 40px;
    color: #00FF80;
    text-transform: capitalize;
    text-align: center;
    width: 570px;
    padding: 0px 10px; }
    #missions-selected > ul.missions > li .planet, #missions-selected > ul.missions > li .vehicle, #missions-selected > ul.missions > li .overview, #missions-selected > ul.missions > li .cancel {
      float: left; }
    #missions-selected > ul.missions > li .planet {
      width: 100px; }
    #missions-selected > ul.missions > li .vehicle {
      width: 150px; }
    #missions-selected > ul.missions > li .overview {
      width: 250px; }
    #missions-selected > ul.missions > li .cancel {
      width: 50px; }

.appear-from-bottom, #missions-selected > ul.missions > li {
  animation: fromBottom 150ms;
  animation-timing-function: ease; }

@keyframes fromBottom {
  0% {
    opacity: 0; }
  1% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
.game-progress {
  width: calc(100% - 40px);
  max-width: 500px;
  margin: 10px auto;
  height: 6px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid rgba(61, 199, 67, 0.3);
  -webkit-transition: opacity 500ms cubic-bezier(0.64, 0.57, 0.67, 1);
  -moz-transition: opacity 500ms cubic-bezier(0.64, 0.57, 0.67, 1);
  -o-transition: opacity 500ms cubic-bezier(0.64, 0.57, 0.67, 1);
  transition: opacity 500ms cubic-bezier(0.64, 0.57, 0.67, 1); }

.game-progress:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background: #3dc743;
  content: " ";
  border-radius: 3px;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 500ms cubic-bezier(0.64, 0.57, 0.67, 1);
  -moz-transition: all 500ms cubic-bezier(0.64, 0.57, 0.67, 1);
  -o-transition: all 500ms cubic-bezier(0.64, 0.57, 0.67, 1);
  transition: all 500ms cubic-bezier(0.64, 0.57, 0.67, 1); }

.game-progress.two:after {
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  transform: scaleX(0.5); }

.game-progress.three:after {
  -webkit-transform: scaleX(0.75);
  -moz-transform: scaleX(0.75);
  -ms-transform: scaleX(0.75);
  -o-transform: scaleX(0.75);
  transform: scaleX(0.75); }

.game-progress.four {
  opacity: 0;
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms; }

.game-progress.four:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }

.game-progress.one:after {
  -webkit-transform: scaleX(0.25);
  -moz-transform: scaleX(0.25);
  -ms-transform: scaleX(0.25);
  -o-transform: scaleX(0.25);
  transform: scaleX(0.25); }

#mission-planet ul.deck > li.loader {
  font-size: 40px;
  border: 1px solid transparent !important; }
#mission-planet ul.deck > li.assigned {
  display: none; }

#mission-vehicle ul.deck > li.none-left, #mission-vehicle ul.deck > li.no-range {
  position: relative;
  pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.3) !important; }
#mission-vehicle ul.deck > li:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 140px;
  width: 100%;
  color: rgba(255, 255, 255, 0.95);
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  content: " ";
  pointer-events: none;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
#mission-vehicle ul.deck > li.no-range:after, #mission-vehicle ul.deck > li.none-left:after {
  opacity: 1;
  cursor: not-allowed; }
#mission-vehicle ul.deck > li.no-range:after {
  content: "Out Of Range"; }
#mission-vehicle ul.deck > li.none-left:after {
  content: "None Left"; }

#mission-wizard .wizard {
  max-width: 500px;
  margin: auto; }
  #mission-wizard .wizard ul.panes > li, #mission-wizard .wizard ul.status > li {
    float: left; }
  #mission-wizard .wizard ul.status {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-size: small; }
    #mission-wizard .wizard ul.status > li {
      position: relative;
      width: 50%;
      padding: 10px;
      text-align: center;
      color: rgba(255, 255, 255, 0.95);
      background: #1e6321;
      overflow: hidden;
      border: 1px solid transparent;
      opacity: 0.5;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
      #mission-wizard .wizard ul.status > li label {
        position: relative;
        z-index: 2; }
      #mission-wizard .wizard ul.status > li .bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #3dc743;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease; }
    #mission-wizard .wizard ul.status > li.planet .bg {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }
    #mission-wizard .wizard ul.status > li.vehicle .bg {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); }
  #mission-wizard .wizard .window {
    max-width: 100%;
    overflow: hidden; }
    #mission-wizard .wizard .window ul.panes {
      width: 200%;
      overflow: hidden;
      -webkit-transition: transform 500ms ease;
      -moz-transition: transform 500ms ease;
      -o-transition: transform 500ms ease;
      transition: transform 500ms ease; }
      #mission-wizard .wizard .window ul.panes > li {
        width: 50%;
        max-height: 100%;
        overflow: auto;
        text-align: center; }
        #mission-wizard .wizard .window ul.panes > li ul.deck {
          min-height: 300px; }
          #mission-wizard .wizard .window ul.panes > li ul.deck > li {
            border: 1px solid; }
#mission-wizard .active-status, #mission-wizard .wizard.vehicle-select ul.status li.vehicle, #mission-wizard .wizard:not(.vehicle-select) ul.status li.planet {
  border: 1px solid black;
  color: white;
  opacity: 1; }
  #mission-wizard .active-status .bg, #mission-wizard .wizard.vehicle-select ul.status li.vehicle .bg, #mission-wizard .wizard:not(.vehicle-select) ul.status li.planet .bg {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
#mission-wizard .wizard.vehicle-select .window ul.panes {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

#mission-wizard:not(.show) {
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

@media screen and (max-width: 750px) {
  #mission-planet ul.deck {
    width: 300px;
    margin: auto; }
    #mission-planet ul.deck > li {
      float: left;
      height: 125px;
      width: 125px;
      overflow: hidden; }

  #mission-vehicle ul.deck {
    margin: auto;
    width: 320px; }
    #mission-vehicle ul.deck > li {
      float: left;
      margin: 5px;
      width: 140px;
      overflow: hidden;
      font-size: 13px; }

  #missions-selected > ul.missions > li {
    width: auto;
    margin: 10px;
    border: 1px solid rgba(0, 255, 128, 0.3); }
    #missions-selected > ul.missions > li .planet, #missions-selected > ul.missions > li .vehicle, #missions-selected > ul.missions > li .overview, #missions-selected > ul.missions > li .cancel {
      width: 100%;
      text-align: center;
      float: none;
      display: block;
      padding-left: 10px; }
    #missions-selected > ul.missions > li .cancel .mobile-only {
      opacity: 0.7;
      border-top: 1px solid rgba(0, 255, 128, 0.3);
      padding-right: 10px; }

  .no-mobile {
    display: none !important; } }
@media screen and (min-width: 750px) {
  .mobile-only {
    display: none !important; } }

/*# sourceMappingURL=index.css.map */
