
<div id="crg">
  <div ng-class="{&quot;selecting-from-passage&quot;: editor.passageSelector.selecting}" class="crg-editor">
    <div class="editor-bar crg-bar">
      <div class="actions">
        <button class="primary">Publish</button>
        <button><a ui-sref="crg.editor.preview">Preview</a></button>
      </div>
      <div class="selection-heading">
        <div ng-bind="editor.passageSelector.heading.label" class="heading"></div>
        <div class="help">
          <div ng-bind="editor.passageSelector.heading.description" class="tooltip"></div>
        </div>
      </div>
    </div>
    <div class="crg-passage">
      <div ng-init="passage = editor.passageSelector.passage" class="passage">
        <div class="title"><span>From:&nbsp;</span><span ng-bind="passage.from" class="from"></span></div>
        <div class="author"><span>By&nbsp;</span><span ng-bind="passage.by" class="by"></span></div>
        <div on-text-select="onTextSelect($selection.indices)" ng-class="{&quot;focusing&quot; : game.player.state.focusPhrase.indices.length || editor.passageSelector.selection.focus.indices.length}" class="text phrase-selector selection-pointer">
          <div class="selection-options">
            <div ng-show="game.player.state.textSelectedIsClose" class="close-enough-selection">
              <label>Almost there. You need to select complete phrase</label>
            </div>
            <div class="passage-selection">
              <button ng-click="editor.passageSelector.selection.setFocus($selection.indices)" ng-show="editor.passageSelector.selection.selectingFocus" class="selectFocus">Set Focus</button>
              <button ng-click="editor.passageSelector.selection.setPhrase($selection.indices)" ng-show="editor.passageSelector.selection.selectingPhrase" class="selectPhrase">Set Phrase</button>
            </div>
          </div>
          <div ng-repeat="word in passage.words" ng-class="{&quot;line-break&quot; : word.linebreak, &quot;highlight&quot;: word.highlight, &quot;focus&quot;: word.focus, &quot;flash&quot;: word.flash}" data-word-number="{{$index}}" class="word">{{word.text}}</div>
        </div>
      </div>
    </div>
    <div class="crg-editor-form">
      <ul>
        <li class="zincing skill-group">
          <div class="accordion-bar crg-bar">
            <label>Zincing</label>
            <button><span class="fa fa-plus"></span></button>
          </div>
          <div class="skill zinc-visualize">
            <div class="crg-bar">
              <label>Visualize</label>
              <button ng-click="editor.sceneEditors.zincing.visualize.add()">Add</button>
            </div>
            <ul class="undo-list">
              <li ng-repeat="visualize in editor.game.zincing.visualize" class="skill-form">
                <div class="skill-param">
                  <label class="param-label">Focus</label>
                  <input type="text" disbaled="true" ng-model="visualize.focus.text" class="param-input"/>
                </div>
                <div class="skill-param">
                  <label class="param-label">Phrase</label>
                  <input type="text" disbaled="true" ng-model="visualize.phrase.text" class="param-input"/>
                </div>
                <div class="skill-param">
                  <label class="param-label">Transcript</label>
                  <textarea ng-model="visualize.transcript.text" class="param-input"></textarea>
                </div>
                <div class="scene-options">
                  <button ng-click="" class="remove">Preview</button>
                  <button ng-click="editor.game.zincing.visualize.splice($index,1)" class="remove">Remove</button>
                </div>
              </li>
            </ul>
          </div>
          <div class="skill zinc-imagine">
            <div class="crg-bar">
              <label>Imagine</label>
              <button ng-click="editor.sceneEditors.zincing.imagine.add()">Add</button>
            </div>
            <ul class="undo-list">
              <li ng-repeat="imagine in editor.game.zincing.imagine" class="skill-form">
                <div class="skill-param">
                  <label class="param-label">Focus</label>
                  <input type="text" disbaled="true" ng-model="imagine.focus.text" class="param-input"/>
                </div>
                <div class="skill-param">
                  <label class="param-label">Phrase</label>
                  <input type="text" disbaled="true" ng-model="imagine.phrase.text" class="param-input"/>
                </div>
                <div class="skill-param">
                  <label class="param-label">Transcript</label>
                  <textarea ng-model="imagine.transcript.text" class="param-input"></textarea>
                </div>
                <div class="skill-param">
                  <label class="param-label">Correct Usage</label>
                  <div class="param-input">
                    <div ng-repeat="usage in imagine.usages" class="input-options">
                      <input type="checkbox" ng-model="usage.correct" class="correct"/>
                      <input ng-model="usage.label" class="usage-label"/>
                    </div>
                    <button ng-click="imagine.usages.push({label: &quot;&quot;, correct: false})">Add Usage</button>
                  </div>
                </div>
                <div class="scene-options">
                  <button ng-click="" class="remove">Preview</button>
                  <button ng-click="editor.game.zincing.imagine.splice($index,1)" class="remove">Remove</button>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="passage-selector"></div>
    </div>
  </div>
  <ui-view></ui-view>
</div>