
<div class="crg-preview-modal">
  <div ng-controller="CRGPreviewController">
    <div id="crgameplay">
      <div class="crg-player">
        <div class="header">
          <div class="logo"><img src="assets/images/zinc-logo-small.png"/></div>
          <div ng-class="game.player.state.group" class="crgame-progress">
            <div class="connector"></div>
            <ul>
              <li class="intro">
                <label>Main Idea</label>
              </li>
              <li class="zincing">
                <label>Zincing</label>
              </li>
              <li class="skills">
                <label>Skill Practice</label>
              </li>
              <li class="exit">
                <label>Main Idea</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="body">
          <div class="controls">
            <div class="points">
              <div class="value">10</div>
              <label>Points</label>
            </div>
            <div class="sound">
              <button class="fa fa-volume-up"></button>
            </div>
            <div ng-click="game.player.exit()" class="exit">
              <button class="fa fa-sign-out"></button>
            </div>
          </div>
          <div ng-init="passage = game.player.passage" class="passage">
            <div class="title"><span>From:&nbsp;</span><span ng-bind="passage.from" class="from"></span></div>
            <div class="author"><span>By&nbsp;</span><span ng-bind="passage.by" class="by"></span></div>
            <div on-text-select="onTextSelect($selection.indices)" ng-class="{&quot;focusing&quot; : game.player.state.focusPhrase.indices.length || editor.passageSelector.selection.focus.indices.length}" class="text phrase-selector selection-pointer">
              <div class="selection-options">
                <div ng-show="game.player.state.textSelectedIsClose" class="close-enough-selection">
                  <label>Almost there. You need to select complete phrase</label>
                </div>
                <div class="passage-selection">
                  <button ng-click="editor.passageSelector.selection.setFocus($selection.indices)" ng-show="editor.passageSelector.selection.selectingFocus" class="selectFocus">Set Focus</button>
                  <button ng-click="editor.passageSelector.selection.setPhrase($selection.indices)" ng-show="editor.passageSelector.selection.selectingPhrase" class="selectPhrase">Set Phrase</button>
                </div>
              </div><span ng-repeat="word in passage.words" ng-class="{&quot;line-break&quot; : word.linebreak, &quot;highlight&quot;: word.highlight, &quot;focus&quot;: word.focus, &quot;flash&quot;: word.flash}" data-word-number="{{$index}}" class="word">{{word.text}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-window">
        <div class="video-container"><img src="assets/images/transcript-speaker.png"/></div>
        <div scroll-to-bottom-on-resize="scroll-to-bottom-on-resize" class="chat-history">
          <ul class="dialogues">
            <li ng-repeat="dialogue in game.player.chat.dialogues" ng-class="dialogue.sender.type" class="dialogue"><img ng-src="{{dialogue.sender.image}}" class="sender"/>
              <div class="message">
                <div ng-bind="dialogue.text" class="message-text"></div>
              </div>
            </li>
            <li class="agent dialogue"><img ng-src="{{game.player.chat.agent.image}}" class="sender"/>
              <div class="message">
                <div text="game.player.state.transcript.text" typing-speed="50" before-typing="game.player.chat.input.ready = false;" after-typing="game.player.chat.input.ready = true" class="typewriter message-text"></div>
              </div>
            </li>
          </ul>
        </div>
        <div ng-class="{&quot;ready&quot; :game.player.chat.input.ready}" class="chat-input user dialogue"><img ng-src="{{game.player.chat.user.image}}" class="sender"/>
          <div class="message">
            <div class="message-text">
              <div class="placeholder">
                <label ng-if="game.player.state.placeholder" ng-bind="game.player.state.placeholder"></label>
              </div>
              <ul class="select-options">
                <li ng-repeat="option in game.player.state.options" ng-init="option.input=false" ng-click="option.input = !option.input">
                  <div ng-show="option.input" class="check-box selected fa fa-check-square"></div>
                  <div ng-hide="option.input" class="check-box fa fa-square-o"></div>
                  <label>{{option.label}}</label>
                </li>
              </ul>
              <ul class="buttons">
                <li ng-repeat="button in game.player.state.buttons">
                  <button ng-click="button.onClick()">{{button.label}}</button>
                </li>
              </ul>
              <div ng-if="game.player.state.showInput" class="user-input">
                <textarea ng-model="game.player.input"></textarea>
                <button ng-click="game.player.state.submitInput(game.player.input)" ng-class="{&quot;disabled-input&quot;: !game.player.input.length}" class="button-outline submit">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 ng-bind="player.selectedText"></h1>
  </div>
</div>