$card_width : 125px;
$card_height: 125px;

#mission-planet{
  ul.deck{
    width: $card_width*2 + 5 *$padding;
    margin: auto;
    > li {
      float : left;
      height: $card_height;
      width : $card_width;
      overflow: hidden;
    }
  }
}