$loader_size: 40px;

#mission-planet{
  ul.deck{
    > li {
    }
    >li.loader{
      font-size: $loader_size;
      border: 1px solid transparent !important;
    }
    > li.assigned {
      display: none;
    }
  }
}