#background{
  position: fixed;
  top     : 0;
  left    : 0;
  height  : 100vh;
  width   : 100%;
  .star-world{
    min-width   : 100%;
    min-height  : 100%;
    @include transformOrigin(50% 50%);
    background: $background_image repeat fixed center center;
  }
}

#home{
  color:white;
  text-align: center;
  margin: $padding*2 auto;
  max-width: $window_width;
  #help-button{
    text-align: right;
    font-size: 30px;
    $help_size: 55px;

    > .fa {
      color: $white_light;
      text-align: center;
    }
  }
  #mission-action{
    width: 100%;
    margin-top: 5*$padding;
    padding: 0px 5*$padding;
    button.create-mission{
      width: 100%;
      opacity: 0.95;
    }
  }



}
