@import '../../lib/style/base';

@import "app/app";
$mobile_at : 700px;

body{
  // for loader
  background: black;
}
@media screen and (max-width: $mobile_at) {
  @import "app/app.mobile";
  .no-mobile{
    display: none !important;
  }
}

@media screen and (min-width: $mobile_at) {
  .mobile-only{
    display: none !important;
  }
}
