@import '../../lib/style/base';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,600,500,700');

$font_family: 'Raleway', sans-serif;
@import "app/app";
$mobile_at : 700px;

@media screen and (max-width: $mobile_at) {
  @import "app/app.mobile";
  .no-mobile{
    display: none !important;
  }
}

@media screen and (min-width: $mobile_at) {
  .mobile-only{
    display: none !important;
  }
}
