#top-bar{
  position: fixed;
  top     : 0px;
  left    : 0px;
  height  : $top_bar_height;
  line-height  : $top_bar_height;
  width   : 100vw;
  padding : $padding;
  background-color: $top_bar_color;
  .credit{
    text-align: center;
  }
}