$transitionDuration: 250ms;

$frame_bar_height: 40px;

$topBarLayer: 1000;
$containerPadding: 10px;

$cardWidth: 300px;
$cardHeight: 250px;

$navigationBarHeight: 130px;

$modalBackdrop: rgba(0,0,0,0);
$contentTransitionDuration : $transitionDuration + 100;
$padding: 10px;
$cleanupFunction: ease;
$transition_function: $cleanupFunction;
$transition_duration : $transitionDuration;
$white : rgba(255, 255, 255, 0.9);
$rotate : 0deg;
$cleanupDuration: $transitionDuration;

$black_text: #646464;
$side_padding: 10px;

$weight_normal: 400;
$weight_bold: 700;
$weight_light: 300;

$line_height: 20px;
$text_shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
$modal_color: #EEE;

$loader_size: 50px;
$box_shadow : -1px -1px 5px rgba(0, 0, 0, 0.21);

$heavy-border: 1px solid rgba(0, 0, 0, 0.2);
$card_font : 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:#{$weight_light},#{$weight_normal},#{$weight_bold}');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:#{$weight_normal}i,#{$weight_normal},#{$weight_bold}');

.theme-font{
  font-family: 'Roboto', sans-serif;
  font-weight: $weight_normal;
}

.navigation-bar-text{
  font-family: $card_font;
  font-weight: $weight_normal;
}

.theme-font-bold{
  font-weight: $weight_bold;
}

.theme-font-ligth{
  font-weight: $weight_light;
}

[ng-click]{
  cursor: pointer;
}

#slate{
  overflow: hidden;
  height: 100vh;
  .deck{
    height: 100%;
  }
  .overview{
    .card-space{
      .speaks{
        @include transition(opacity $transition_duration $transition_function);
        @include transitionDelay($transition_duration);
      }
    }
  }
  @import 'modal/modal';
}

#slate.show-modal{
  .card-space{
    opacity: 1;
  }
}
#slate:not(.show-modal){
  .modal{
    @include transform(scale(0));
    @include transitionDelay($transitionDuration);

    .overview{
      .card-space{
        .speaks{
          opacity: 0;
        }
      }
      .card-actions{
        @include transform(translateY(100vh));
      }
    }
    .content{
      @include transform(translateX(100vw));
    }
  }
}

@import 'cards/cards';
@import 'deck/deck';

@import 'grid/grid';
