$center_origin_offset: 50;
$box_width : $cardWidth;
ul.grid{
  position: relative;
  >li.grid-box{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include transform(translateX(50vw) translateY(100vh))
  }
  >li.grid-box:not(.visible){
    pointer-events: none !important;
    opacity: 0 !important;
  }
}