#mission-wizard{
  .wizard{
    max-width: $home_max_width;
    margin: auto;
    ul.panes, ul.status{
      @extend .undo-list;
      @extend .resize-container;
      > li{
        float: left;
      }
    }

    ul.status{
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: $padding;
      letter-spacing: 2px;
      font-size: small;
      @extend .title-text;

      > li {
        position: relative;
        width: 50%;
        padding: $padding;
        text-align: center;
        color: $white;
        background: $theme_green_disabled_solid;
        overflow: hidden;
        border: 1px solid transparent;
        opacity: 0.5;
        @include transition(all $transition_time_slow $transition_function);

        label{
          position: relative;
          z-index: 2;
        }
        .bg{
          position: absolute;
          top:0;
          left:0;
          height: 100%;
          width: 100%;
          background: $theme_green_color;
          //opacity: 0;
          @include transition(all $transition_time_slow $transition_function);
        }
      }
      > li.planet{
        .bg{
          @include transform(translateX(100%));
        }
      }
      > li.vehicle{
        .bg{
          @include transform(translateX(-100%));
        }
      }
    }
    .window{
      max-width   : 100%;
      overflow: hidden;

      ul.panes{
        width: 200%;
        overflow: hidden;
        @include transition(transform $transition_time_slow $transition_function);

        > li {
          width: 50%;
          max-height: 100%;
          overflow: auto;
          text-align: center;
          @extend .title-text;

          ul.deck{
            min-height: $wizard_min_height;
            > li {
              border: 1px solid;
            }
          }
        }
      }
    }
  }
  .active-status{
    border: 1px solid black;
    color: white;
    opacity: 1;

    .bg{
      opacity: 1;
      @include transform(translateX(0));
    }
  }
  .wizard.vehicle-select{
    ul.status {
      li.vehicle{
        @extend .active-status;
      }
    }

  .window{
      ul.panes{
        @include transform(translateX(-50%));
      }
    }
  }
  .wizard:not(.vehicle-select){
    ul.status {
      li.planet{
        @extend .active-status;
      }
    }
  }
}

#mission-wizard:not(.show){
    opacity: 0;
  @include transition(none);
}