.wizard.content.vehicle-select
  .head
    h1 Plan Mission
  ul.status
    li.planet Destination
    li.vehicle Vehicle
  .window
    ul.panes
      li#mission-planet Select Planet
      li#mission-vehicle Select Vehicle
