.wizard.content(ng-class='{"vehicle-select" : wizard.selectVehicle}')
  .bar
    .close-modal.fa.fa-close(ng-click="wizard.reset()")
  ul.status
    li.planet(ng-click='wizard.showVehicle(false)')
      .bg
      label.no-mobile 1. Select Planet
      label.mobile-only 1. Planet
    li.vehicle
      .bg
      label.no-mobile 2. Select Vehicle
      label.mobile-only 2. Vehicle

  .window
    ul.panes
      li#mission-planet
        ul.deck
          li.loader(ng-show='!planets.list.length')
            div.fa.fa-circle-o-notch.fa-spin
          li(ng-repeat='planet in planets.list', ng-click='wizard.setPlanet(planet)',ng-class='{"assigned" : planet.assigned}')
            include ../planets/planet

      li#mission-vehicle
        ul.deck
          li(ng-repeat='vehicle in vehicles.list', ng-click='wizard.setVehicle(vehicle)', ng-class='{"none-left": !vehicle.remaining,"no-range" : !wizard.isSelectable(vehicle)}')
            include ../vehicles/vehicle