ul.navigation
  li.design
    a(href="#portolio?tags=design") Apps
  li.development
    a(href="#portolio?tags=development") Open Source
  li.coaching
    a(href="#portolio?tags=coaching") Experiments
  li.experience
    a(href="#experience") Experience
  li.connect
    a(href="#connect") Connect