@import '../../style/base';
$transitionDuration: 250ms;

$navigationBarHeight: 60px;
$topBarLayer: 1000;
$containerPadding: 10px;

$cardWidth: 250px;
$cardHeight: 250px;
$modalBackdrop: rgba(0,0,0,0);
$contentTransitionDuration : $transitionDuration + 100;
$padding: 10px;
$transition_function: ease;
$transition_duration : $transitionDuration;
$white : rgba(255, 255, 255, 0.9);

#slate{
  overflow: hidden;
  height: 100vh;
  h1{margin: 0px auto;}
  *{box-sizing: border-box;};

  .deck{
    height: calc(100% - #{$navigationBarHeight});
  }
  @import 'modal/modal';

}

#slate:not(.show-modal){
  .modal{
    @include transform(scale(0));
    @include transitionDelay($transitionDuration);

    .overview{
      .card-actions{
        @include transform(translateY(100vh));
      }
    }
    .content{
      @include transform(translateX(100vw));
    }
  }
}

@import 'cards/cards';
@import 'nav/nav';
