.modal{
  .content{
    position: relative;
    margin: $padding;
    padding: 0px;
    @include transition(#{transform $contentTransitionDuration ease, opacity $contentTransitionDuration ease});
    width: calc(100% - #{$cardWidth + 2 * $containerPadding + 2 * $padding});
    border: $padding/2 solid $modal_color;
    box-shadow: $box_shadow;

    .frame-bar{
      position: relative;
      z-index: 1;
      background: $modal_color;
      pointer-events: all;
      color: $black_text;
      @extend .resize-container;
      .action{
        line-height: $frame_bar_height;
        padding: 0px $padding*2;
        float: right;
        opacity: 0.3;
        text-decoration: none;
        color: inherit;
      }
      .action:hover{
        opacity: 1;
      }
    }

    .loader, .frame{
      height: calc(100% - #{$frame_bar_height});
      width: 100%;
      @include transition(#{opacity $contentTransitionDuration ease});
    }
    .frame{
      overflow: auto;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      pointer-events: all;
      opacity: 0;
    }
    .loader{
      position: absolute;
      top: $frame_bar_height;
      left: 0;
      z-index: 1;
      color: $white;
      background: $modal_color;
      border: 1px solid rgba(0, 0, 0, 0.1);
      line-height : $loader_size;
      font-size   : $loader_size;
      text-align  : center;
      padding-top : $loader_size/2;
    }
  }

}

.modal {
  .content.ready {
    .frame{
      opacity: 1;
    }
    .loader{
      opacity: 0;
      pointer-events: none;
    }
  }
}
.modal {
  .content.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
  }
}.modal {
  .content.mobile-screen {
    .frame{
      display: block;
      width  : 412px;
      height : 732px;
      margin : auto;
    }
  }
}