
.modal{
  position: relative;
  top: -100vh;
  height: 100%;
  min-width: 100vw;
  background-color: $modalBackdrop;
  pointer-events: none;
  .content, .overview{
    padding: $containerPadding;
    height: 100%;
    float: left;
  }
}
@import 'overview';

@import 'content';
