.overview
  .card-space
  .card-actions
    a(target="_blank",href="{{modal._frame._src}}") Open
    button(ng-click="modal.close()") Close
.content(ng-class='{"ready" : modal._frame._ready}')
  .frame-bar
    .close.fa.fa-close(ng-click="modal.close()")
  iframe.frame(ng-if="modal._show",src="{{modal._frame._src}}", onload='iframeLoaded()')
  .loader
     .fa.fa-circle-o-notch.fa-spin
