.modal{
  position: relative;
  top: calc(-100vh + #{$navigationBarHeight});
  height: calc(100% - #{$navigationBarHeight});
  min-width: 100vw;
  background-color: $modalBackdrop;
  padding: $containerPadding;
  pointer-events: none;
  .content, .overview{
    padding: $containerPadding;
    height: 100%;
    float: left;
  }
  .overview{
    .card-space{
      width: $cardWidth;
      height: $cardHeight;
    }
    .card-actions{
      @include transition(#{transform $transitionDuration ease});
      width: $cardWidth;
      height: 300px;
      pointer-events: all;
      padding: $containerPadding;
      button{
        width: 100%;
        height: 50px;
        background-color: rgba(0,0,0,0.075);
        border: 1px solid rgba(0,0,0,0.05);
      }
    }
  }
  .content{
    position: relative;
    @include transition(#{transform $contentTransitionDuration ease, opacity $contentTransitionDuration ease});
    width: calc(100% - #{$cardWidth + 2 * $containerPadding});
    .loader, .frame{
      height: 100%;
      width: 100%;
      @include transition(#{opacity $contentTransitionDuration ease});
    }
    .frame{
      overflow: auto;
      background-color: rgba(255, 255, 255, 1);
      border: none;
      pointer-events: all;
    }
    .loader{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      color: $white;
      background: $modal_color;

      line-height : $loader_size;
      font-size   : $loader_size;
      text-align  : center;
      padding-top : $loader_size/2;
    }
  }

}
.modal {
  .content.ready {
    .loader{
      opacity: 0;
      pointer-events: none;
    }
  }
}