$speaks_width: 17px;
$speaks_height: 27px;
$pixel_adjustment : 2px;

.overview{
  overflow: visible;
  .card-space{
    position: relative;
    width: $cardWidth;
    overflow: visible;

    .speaks{
      position: absolute;
      top: $padding;
      right: -$speaks_width + $pixel_adjustment/2;
      height: $speaks_height - $pixel_adjustment;
      width: $speaks_width;
      border-left: 1px solid white;

      .triangle{
        position: relative;
        left: -$pixel_adjustment/2;
        top: -$pixel_adjustment/2;
      }
    }
  }

  .card-actions{
    @include transition(#{transform $transitionDuration ease});
    width: $cardWidth;
    height: 300px;
    pointer-events: all;
    padding: $containerPadding;
    button{
      width: 100%;
      height: 50px;
      background-color: rgba(0,0,0,0.075);
      border: 1px solid rgba(0,0,0,0.05);
    }
  }
}