$card_bg: white;

.card-title-text{
  font-family: $card_font;
  font-weight: $weight_bold;
}

.card-body-text{
  font-style: italic;
  font-family: $card_font;
  font-weight: $weight_normal;
}


.card:hover, .selected .card{
  @include transform(scale(($cardWidth + 20px)/$cardWidth));
}
.selected .card{
  @include transform(translateX($padding/2) translateY($padding) scale(($cardWidth + $padding*2)/$cardWidth));
}
.card{
  @extend .solid-hard-surface;
  width: $cardWidth;
  display: block;
  cursor: pointer;
  img{width: 100%;}
  padding: $padding;
  @include transition(transform $transition_time_quick $transition);
  .name{
    margin: 2*$padding 0px;
    text-shadow: $text_shadow;
    font-size: large;
    @extend .card-title-text;
  }

  p{
    line-height: $line_height;
    @extend .card-body-text;
  }


  .ui-tutorial {
    max-height: calc(100% - 2 * #{$padding});
    padding: $padding;
    overflow: hidden;
    text-overflow: ellipsis;
    .title{}
    > .description {
      .lead{
        opacity: 0.9;
        padding-right: 5px;
        font-size: small;
        @extend .card-body-text;
      }
      .follow{
        opacity: 0.5;
        font-size: small;
      }
    }
  }
}
