$profile_image_height: 80px;
$profile_image_width : 80px;
$option_button_height: 60px;
$actions_width       : 300px;

#nishants{
  .page.intro{
    padding-top:  2 * $padding;
    .overview{
      padding: $padding;
      margin: auto;
      min-height: initial;
      @extend .solid-surface;
      @extend .resize-container;
      .description, .actions{
        float: left;
        padding: 0px $padding*3 $padding*2 $padding*3;
      }
      .actions{
        width: $actions_width;
      }
      .description{
        //border-left: 1px solid $black_border;
        width: calc(100% - #{$actions_width});
        text-align: left;
      }
    }
  }
}

@import "heading/heading";
@import "navigation/navigation";
@import "aboutme/aboutme";
@import "social-contacts/social-contacts";
@import "intro.transition";