#missions-home{
  color:white;
  text-align: center;
  margin: $padding*2 auto;
  max-width: $window_width;
  #help-button{
    position: fixed;
    top: 0;
    right: 0;
    margin: $padding*2;

    text-align: right;
    font-size: 30px;
    $help_size: 55px;

    > .fa {
      color: $white_light;
      text-align: center;
    }
  }
  #mission-action{
    width: 100%;
    margin-top: 5*$padding;
    padding: 0px 5*$padding;
    > button{
      width: 100%;
      opacity: 0.95;
    }
  }
}
