ul
  li.mission(ng-repeat='mission in missions.list')
    span.planet(ng-bind='mission.planet.name')
    span.vehicle(ng-bind='mission.vehicle.name')
    span.canel.fa.fa-remove(ng-click='missions.remove($index)')