ul.navigation
  li.design
    a.link(href='#design?slate=design') Interaction Design
  li.development
    a.link(href='#developmen?slate=development') Development
  li.coaching
    a.link(href='#coaching?slate=coaching') Technical Coaching
  li.experience
    a.link(href='#experience') Experience
  li.connect
    a.link(href='#connect') Connect