ul.navigation
  li.design
    .link Interaction Design
  li.development
    .link Development
  li.coaching
    .link Technical Coaching
  li.experience
    .link Experience
  li.connect
    .link Connect