ul.navigation
  li.design
    a.link(href='#design') Interaction Design
  li.development
    a.link(href='#development') Development
  li.coaching
    a.link(href='#coaching') Technical Coaching
  li.experience
    a.link(href='#experience') Experience
  li.connect
    a.link(href='#connect') Connect