#nishants{
  .intro{
    ul.navigation{
      @extend .undo-list;
      @extend .resize-container;
      > li {
        display: block;
        overflow: hidden;
        padding-right: $padding;
        .link{
          @extend .undo-link;
          display: block;
          height     : $option_button_height + $padding*2;
          line-height: $option_button_height + $padding*2;
          width: 100%;
          margin: auto;
          text-align: right;
          font-weight: $weight_normal;
          opacity: 0.8;
          @include transition(#{transform $transition_time $transition,opacity $transition_time $transition});
        }
      }
      >li:hover{
        .link{
          @include transform(translateX($padding));
        }
      }
    }
  }
}
