$card_bg: white;

.card{
  width: $cardWidth;
  display: block;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $black_text;
  background: $card_bg;
  img{width: 100%;}
  padding: 0px $padding;

  .name{
    margin: 2*$padding 0px;
    text-shadow: $text_shadow;
    font-size: large;
    @extend .theme-font-bold;
  }
  p{
    line-height: $line_height;
    @extend .theme-font-ligth;
  }


  .ui-tutorial {
    max-height: calc(100% - 2 * #{$padding});
    padding: $padding;
    overflow: hidden;
    text-overflow: ellipsis;
    .title{}
    > .description {
      .lead{
        opacity: 0.7;
        padding-right: 5px;
        font-size: medium;
        @extend .theme-font-bold;
      }
      .follow{
        opacity: 0.5;
        font-size: small;
      }
    }
  }
}
